{% extends 'base.html'%}

{% block maincontent %}
{{form.errors}}
<form action="" method="post">
{%csrf_token%}
{{form.first_name.errors}}
{{form.first_name.label_tag}}
{{form.first_name}}
{{form.last_name.errors}}
{{form.last_name.label_tag}}
{{form.last_name}}
{{form.email.errors}}
{{form.email.label_tag}}
{{form.email}}
{{form.password1.errors}}
{{form.password1.label_tag}}
{{form.password1}}
{{form.password2.errors}}
{{form.password2.label_tag}}
{{form.password2}}
<input type="submit">
</form>
{% endblock %}
