{% extends 'base_list.html'%}

{%block title%}Список пользователей{%endblock%}

{%block listcontent%}
<!--div id='paginator'>
{% for p in pager %}
{%if p != cur_page%}
<a class='page' href='{%url users_list%}?page={{p}}'>{{p}}</a>
{%else%}
<span class='current_page'>{{p}}</span>
{%endif%}
{%endfor%}
</div-->
<table id="sortable_table" class="display" cellspacing="0" cellpadding="0" border="1" bordercolor="#FFFFFF">
<thead class='thead'>
<tr>
<th></th><th>Активен</th><th>Скрыт</th><th>Пользователь</th><th>Email</th><th>Дата регистрации</th><th>Последний вход</th>
</tr>
</thead>
{%for u in users%}
<tr>
<td>{{u.number}}</td>
<td><img src='{%if not u.active%}{{STATIC_URL}}css/i/nonactive.png{%else%}{{STATIC_URL}}css/i/active.png{%endif%}'></td>
<td><img src='{%if u.metauser__flags = 0 %}{{STATIC_URL}}css/i/nonactive.png{%else%}{{STATIC_URL}}css/i/active.png{%endif%}'></td>
<td>{{u.first_name}}&nbsp;{{u.last_name}}</td>
<td>{{u.email}}</td>
<td>{{u.created|date:'d.m.Y H:i:s'}}</td>
<td>{{u.lastLogin|date:'d.m.Y H:i:s'}}</td>
</tr>
{%endfor%}
</table>
<div class='clear'></div>
<div id='paginator'>
{% for p in pager %}
{%if p != cur_page%}
<a class='page' href='{%url users_list%}?page={{p}}'>{{p}}</a>
{%else%}
<span class='current_page'>{{p}}</span>
{%endif%}
{%endfor%}
</div>
{% endblock %}
