{% load widget_tweaks %}
{% load i18n %}

<form id="filterForm" action="" method='get'>
    <div class="form-group">
        {{ filter.form.messageType.label_tag }}
        {{ filter.form.messageType|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ filter.form.georegion.label_tag }}
        {{ filter.form.georegion|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ filter.form.subdomain.label_tag }}
        {{ filter.form.subdomain|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ filter.form.category.label_tag }}
        {{ filter.form.category|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="filterUntimed">Как срочно</label>
        <select class="form-control" name="untimed" id="filterUntimed">
            <option value="-1">{% trans "Any" %}</option>
            <option value="0">{% trans "Urgent" %}</option>
            <option value="1">{% trans "Regular" %}</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="filterString" id="filterString" placeholder="{% trans "Please provide at least one search term" %}" />
    </div>

    <input type="submit" id="filterSubmit" class="btn btn-rynda-default form-control" name="filterSubmit" value="{% trans "Search" %}" />
</form>
