{% load widget_tweaks %}

<form id="filterForm" action="" method='get'>
    <div class="form-group">
        {{ filter.form.messageType.label_tag }}
        {{ filter.form.messageType|add_class:"form-control" }}
    </div>
    <div class="form-group">
        {{ filter.form.georegion.label_tag }}
        {{ filter.form.georegion|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ filter.form.subdomain.label_tag }}
        {{ filter.form.subdomain|add_class:"form-control" }}
    </div>

    <div class="form-group">
        {{ filter.form.category.label_tag }}
        {{ filter.form.category|add_class:"form-control" }}
    </div>

    <div class="form-group">
        <label for="filterUntimed">Как срочно</label>
        <select class="form-control" name="untimed" id="filterUntimed">
            <option value="-1">Всё равно</option>
            <option value="0">Срочные</option>
            <option value="1">Несрочные</option>
        </select>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="filterString" id="filterString" placeholder="Введите здесь текст для поиска" />
    </div>

    <input type="submit" id="filterSubmit" class="btn btn-rynda-default form-control" name="filterSubmit" value="Обновить поиск" />
    {% comment %}
    <?php if(!empty($filterPersistVars)) {
        foreach((array)$filterPersistVars as $varName => $value) {
            if(is_array($value)) {
                foreach($value as $arrElementValue) {?>
    <input type="hidden" class="filterPersistVar" name="<?php echo $varName;?>[]" value="<?php echo $arrElementValue;?>" />
    <?php       }
            } else {?>
    <input type="hidden" class="filterPersistVar" name="<?php echo $varName;?>" value="<?php echo $value;?>" />
    <?php   }
        }
    }?>
    {% endcomment %}
</form>
