Приветствуем вас, {{ user.first_name }}!
<br /><br />
Вы получили это письмо, потому что на сайте <a href="http://{{ base_url }}">{{ project_basename }}</a> <b>было запрошено восстановление пароля</b> для этого e-mail.
<br /><br />
Чтобы восстановить пароль для этой учётной записи, пожалуйста, 
пройдите по этой ссылке:<br /> 
<a href='http://{{ site_url }}/user/resetpassword/'>http://{{ site_url }}/user/resetpassword/</a>
и введите код восстановления пароля:<br />
{{ forgot_password_code }}<br />
<br /><br />
Если вы не регистрировались на сайте {{ project_basename }}, просим вас проигнорировать это письмо.
<br /><br />
Удачи вам !<br />
Проект «{{ project_basename }}»
