// Site-specific styles
#header {
  background: url(i/logo.png) no-repeat 0px 10px;
  height: 142px;
  behavior: url(/css/iepngfix.htc);
}

#topwidget {
    background: @lightBlueGray;
    border-top: 1px solid @hr_bordershadow;
    border-left: 1px solid @vr_bordershadow;
}

#auth_panel {
    height: 30px;
    font-size: @baseFontSize;
    padding-top: 0px;
    background: #568895 url(i/auth_bg.png) repeat-x;  color: #C8E2E9;
    text-align: right;
    margin: 0 auto;
    a {
        color: @white;
        text-decoration: underline;
    }
    ul {
        padding: 0;
        margin: 0;
    }
}

#feedback {
    background: @lightBlueGray;
    border-top: 1px solid @hr_bordershadow;
    border-left: 1px solid @vr_bordershadow;
    .top_rounded(2px);
    ul {
        padding-bottom: 20px;
        li {
            padding: 0 20px;
            a {
                color: @lightGreen;
                font-weight: bold;
                font-size: 14px;
            }
        }
    }
    #bottom_border {
        background: url("i/actual_rec_bg.png") repeat-x bottom;
        height: 10px;
        bottom: 0;
        margin-top: 15px;
    }
}

.message_pane {
    background: #cee0e4;
    border-top: none;
    //border-right: 1px solid #9dc4cd;
    border-bottom: 1px solid #73a5b0;
    //border-left: 1px solid #ffffff;
    color: #3b3b3b;
    // width: .span(4);
    ul {
        padding-left: 0;
    }
}
