/* Color variables */

/** Gray palette **/
@white: #FFF;
@gray: #5A5A5A;
@darkGrey: #9c9c9c;
@black: #000;

/** Colors **/
@orange: #f04d23!important;

@green: #55949d!important;
@light_green:#538d29;

@red:#d71d22;
@dark_red:#d61a1b;


/** Grid parameters **/
@col_width: 70px;
@col_gutter: 10px;
