{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{% endblock %}

{% block field_sets %}
{% for field in adminform.formset.line %}
    {% include 'admin/message/mesage/line_field.html' %}
{% endfor %}
{% comment %}
{% for fieldset in adminform %}
  {% include "admin/message/message/fieldset.html" %}
{% endfor %}
{% endcomment %}
{{ media }}
{% endblock %}

