{% extends 'base.html' %}
{% load i18n %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='about' %}
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/info">{% trans "Information pages" %}</a></li>
    <li>{{ flatpage.title }}</li>
</ul>
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">{{ flatpage.title }}</h2>
    </div>
    <div class="panel-body">
        {{ flatpage.content }}
    </div>
</div>
</div>
{% endblock %}
