<div id="auth">
    <!-- Блок выбора региона пользователя: -->
    <div id="user_location">
        <div class="globe_icon pointer" id="region_select_switch"></div>
        <div class="region_location_div" id="region_select_div" style="display:none;">
            {% if request.session.ryndaorg_region %}
            Ваш регион: <span id="userRegionName">{{ userRegion.name }}</span> <br />
        (<span id="regionSelect" class="expandableTitle">изменить</span>)
            {%else%}
            Ваш регион: <span id="userRegionName">вся страна</span> <br />
        (<span id="regionSelect" class="expandableTitle">выбрать регион</span>)
            {%endif%}
        </div>
    </div>
    <!-- Блок выбора региона пользователя - завершён -->
   <!-- Блок аутентификации: -->
    {% if not user.is_authenticated %}
    <a id="authLogIn" href="/login">Вход</a> | <a id="authRegister" href="/register">Регистрация</a>
    {% else %}
    <span class="auth_text">Вы вошли как <a href="/user/{{user.id}}" class="auth_text">{{ user.get_full_name|default:user.email }}</a> |</span>
    <a id="authLogout" href="/logout" class="auth_text">Выйти</a>
    {% endif %}
    <!-- Блок аутентификации - завершён -->
</div>
