<div class='mapTabs'>
    <ul class="floatleft no_list tabs">
        <li {% if part == 'base' %}class='tab_active'{% endif %}><div class='tabLink_container'><a href='/'>&nbsp;</a></div></li>
        <li {% if part == 'message' %}class='tab_active'{% endif %}><div class='tabLink_container'><a href='/message'>Сообщения</a></div></li>
        <li {% if part == 'organization' %}class='tab_active'{% endif %}><div class='tabLink_container'><a href='/organization'>Организации</a></div></li>
        <li {% if part == 'user' %}class='tab_active'{% endif %}><div class='tabLink_container'><a href='/user'>Пользователи</a></div></li>
        <li {% if part == 'about' %}class='tab_active'{% endif %}><div class='tabLink_container'><a href='/info'>О проекте</a></div></li>
    </ul>
</div>

