<div class='mapTabs'>
    <ul class="floatleft no_list tabs">
        <li class='tab_active'><div class='tabLink_container'><a href='/'>&nbsp</a></div></li>
        <li><div class='tabLink_container'><a href='/message'>Сообщения</a></div></li>
        <li><div class='tabLink_container'><a href='/organization'>Организации</a></div></li>
        <li><div class='tabLink_container'><a href='/users'>Пользователи</a></div></li>
        <li><div class='tabLink_container'><a href='/info'>О проекте</a></div></li>
    </ul>
</div>

