<div class="col-md-4">
    <div class="panel message_pane labelled">
        <div class='helper'>{{ helper_title }}</div>
        {% if requests %}
            <ul id="requestsList" class="list-group">
            {% for m in messages %}
                <li class="list-group-item">
                    <!--div class="container triple_date"-->
                        {{ m.date_add|date:"d.m.Y" }}<!--br />
                        <span class="triple_year">{{m.date_add|date:"Y"}}</span>
                    </div-->
                    <a class="triple_link" href="/message/{{ m.id }}" title="Просьба о помощи #{{ m.id }} {{ m.title }}">
                        {% if m.title %}
                            {{ m.title }}
                        {% else %}
                            Сообщение {{ m.id }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
            <span class="pull-right"><a id="requestsMore" href="/message/pomogite" class="green triple_more_info" title="Все просьбы  о помощи &raquo;"><strong>Другие просьбы о помощи&#8230;</strong></a></span>
        {% else %}
            <div id="requestsNotFound" class="clearfix">
                <ul class="no-markers triplelist">
                    <li>Просьб о помощи не найдено — <a href="/pomogite/dobavit">добавить свою</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>
