<div class="col-md-4">
    <div class="panel message_pane labelled">
        <div class='helper'>{{ helper_title }}</div>
        <div class="panel-body">
        {% if messages %}
            <ul id="requestsList" class="list-group">
            {% for m in messages %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-3">
                            {{ m.date_add|date:"d.m" }}<br />
                            <span class="triple_year">{{m.date_add|date:"Y"}}</span>
                        </div>
                        <div class="col-md-9">
                            <a class="triple_link" href="/message/{{ m.id }}" title="Просьба о помощи #{{ m.id }} {{ m.title }}">
                                {% if m.title %}
                                    {{ m.title }}
                                {% else %}
                                    Сообщение {{ m.id }}
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% if has_more %}
                <a id="requestsMore" href="{{ link_to_continue }}" class="green triple_more_info pull-right" >Все сообщения</a>
            {% endif %}
        {% else %}
            <ul class="list-group">
                <li class="list-group-item">Сообщений не найдено</li>
            </ul>
        {% endif %}
        </div>
    </div>
</div>
