{% load i18n %}<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Language" content="{{ LANGUAGE_CODE }}">
    <meta name="language" content="{{ LANGUAGE_CODE }}">

    <title>{%block page_title%}{%endblock%} {% trans "Virtual Bell" %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet/less" type='text/css' href="{{STATIC_URL}}css/style.less">
    <link rel="stylesheet" href="{{STATIC_URL}}css/messi.min.css">
    <script src="{{STATIC_URL}}js/libs/modernizr-2.5.3.min.js"></script>
    <script src="{{STATIC_URL}}js/libs/less-1.7.3.min.js"></script>  
</head>

<body>
<!-- Top page decorators -->
<section id="decorators">
    <div id='top_panel'></div>
    <div id='navigation_panel'></div>
</section>

<!-- Main page container -->
<div id='container' class="container">
    <div id="auth_panel">
        <nav id="sections" role="navigation">
            {% block hubs %}{% endblock %}
        </nav>
        <section id="auth">
            <!-- Authentication -->
            {% if not user.is_authenticated %}
            <a id="authLogIn" href="/login" class="btn btn-sm btn-rynda-default">{% trans "Sign in" %}</a> |
            <a id="authRegister" class="btn btn-sm btn-rynda-default" href="/register">{% trans "Registration" %}</a>
            {% else %}
            <span class="auth_text">{% trans "Logged in as" %} <a href="/user/{{user.id}}" class="auth_text">{{ user.get_full_name|default:user.email }}</a> |</span>
                <a id="authLogout" href="/logout" class="auth_text">{% trans "Logout" %}</a>
            {% endif %}
            <!-- Authentication end -->
        </section> 
    </div>

    <div id="navigation" class="container">
        <div class="row"> 
            {% block navigation %}{% endblock %}
        </div>
    </div>

    <section class="main">
        <div class="row clearfix" id="header">
            {%block buttons%}
            <a href="/message/pomogu/dobavit" class="btn rynda-btn-head rynda-btn-wh" title="{% trans "Create offer for help" %}">{% trans "I want to help" %}</a>
            <a href="/message/pomogite/dobavit" class="btn rynda-btn-head rynda-btn-nh" title="{% trans "Create request for help" %}">{% trans "Help needed" %}</a>
            {%endblock%}
            <h1 class="text-hide"><a href="/" title="{{ SITE_NAME }} — {% trans "portal for volunteers" %}">Rynda</a></h1>
        </div>
        <div class='clearfix navbar'>
            <ul class="nav navbar-nav">
                <li><a href="http://vkontakte.ru/club25595604" title="Виртуальная рында во Вконтакте" class="vk text-hide">Вконтакте</a></li>
                <li><a href="http://www.facebook.com/pages/Ryndaorg/163264230398695?created" title="Виртуальная рында в Фейсбуке" class="fb text-hide">Фейсбук</a></li>
                <li><a href="http://community.livejournal.com/rynda_org/" title="Виртуальная рында в ЖЖ" class="lj text-hide">Живой Журнал</a></li>
                <li><a href="http://twitter.com/#!/Ryndaorg" title="Виртуальная рында в Твиттере" class="tw text-hide">Твиттер</a></li>
                <!--<li><a href="#" title="Лента Виртуальной рынды" class="rss">RSS</a></li>-->
            </ul>
        </div>
        <div class="container">
        {% block maincontent %}{% endblock %}  
        </div>

        <footer class="container" >
            <div class="row">
                <div id="feedback" class="panel panel-primary">
                    <div class='panel-heading'>{% trans "Communications" %}</div>
                    <ul class="list-inline">
                        <li>EMAIL: <a href="mailto:a@rynda.org">a@rynda.org</a></li>
                        <li>TWITTER: <a href="http://twitter.com/#!/Ryndaorg" target="blank">@Ryndaorg</a></li>
                        <li>SKYPE: <a href="skype:ryndaorg?chat">ryndaorg</a></li>
                    </ul>
                    <div id="bottom_border"></div>
                </div>
            </div>
            <div class="row">
                <div id="footer_navigation" class='col-md-12 clearfix'>
                    <ul class="no-markers footer_nav">
                        <li><a href="/">На главную</a></li>
                        <li><a href="{% url 'infopages' %}" >{% trans "About us" %}</a></li>
                        <li><a href="/pomogite/pomogli">{% trans "Help was found" %}</a></li>
                        <li><a href="/org">{% trans "Organizations" %}</a></li>
                        <li><a class="rss_feed" href="http://feeds.rynda.org/">{% trans "RSS feed" %}</a></li>
                        <li><a href="/info/contacts" title="Свяжитесь с нами">{% trans "Contact us" %}</a></li>
                    </ul>
                </div>
            </div>
            <div id="license">&copy; - {% blocktrans %}«Virtual Bell - Atlas of Assistance» platform, 2011-2014. License{% endblocktrans %} <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons 3.0 (BY—NC—SA)</a></div>
        </footer>
    </section>
</div>
</body>
<!-- JavaScript at the bottom for fast page loading -->

<script src="{{STATIC_URL}}js/libs/jquery-1.11.0.min.js"></script>
<script src="{{ STATIC_URL }}js/libs/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/libs/underscore-min.js"></script>
<script src="{{STATIC_URL}}js/libs/backbone-min.js"></script>
<script src="{{STATIC_URL}}js/messi.min.js"></script>
<script src="{{STATIC_URL}}js/rynda.js"></script>

<!-- scripts concatenated and minified via build script -->

<script src="{{STATIC_URL}}js/plugins.js"></script>
<script src="{{STATIC_URL}}js/script.js"></script>
{% if messages %}
<script type='text/javascript'>
//Show popup message
$(function(){
new Messi('{% for message in messages %} {{ message }} {% endfor %}');
});
</script>
{% endif %}
{% block scripts %}{% endblock %}
<!-- end scripts -->
</html>
