{% extends "base.html" %}
{% load i18n %}

{% block maincontent %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{% trans "Search criteria" %}</h3>
            </div>

            <div class="panel-body" id="messages_filter">
                {% block listfilter %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-rynda-default">
            <div class="panel-heading">
                <div class="floatright" id="counter">
                    <div id="export_csv" class="csv floatright no_text" title="{% trans "Export to CSV" %}">{% trans "Export to CSV" %}</div>
                    {% trans "Total:" %} <span class="badge">{{ count|default:0 }}</span>
                </div>
                <h3 class="panel-title">{{ listTitleShort }}</h3>
            </div>
            <div class="panel-body message_list" id="mp1">
                <div class="date_select mb10">
                    <a href="#" >{% trans "Today" %}</a> |
                    <a href="#" >{% trans "Past 3 days" %}</a> |
                    <a href="#" >{% trans "Last week" %}</a> |
                    <a href="#" >{% trans "Last month" %}</a> |
                    <a href="#" >{% trans "All time" %}</a>
                </div>

                <div id="filterResponseMessage"></div>
                <ul id="itemsList" class="list-group datelist grayDivider">
                    {% block listcontent %} {% endblock %}
                </ul>

                <div id="paginationBlock" class="paginaton mb10">
                <div id="paginationPages" data-current-page="{{ paginator.number }}" class="alignleft list_pagination_div">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li><a class='page' href='{{ paginator_url }}{{ page_obj.previous_page_number }}/{{ query_string|safe }}'>{% trans "Previous" %}</a></li>
                    {% else %}
                    <li class='disabled'><a href='#'>{% trans "Previous" %}</a></li>
                    {% endif %}

                    {% if paginator_line.first %}
                        {% for p in paginator_line.first %}
                            {% if p != page_obj.number %}
                                <li><a href='{{ paginator_url }}{{ p }}/{{ query_string|safe }}'>{{ p }}</a></li>
                            {% else %}
                                <li class='active'><a href='#'>{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                        ...
                    {% endif %}

                    {% for p in paginator_line.window %}
                        {% if p != page_obj.number %}
                            <li><a href='{{ paginator_url }}{{ p }}/{{ query_string|safe }}'>{{ p }}</a></li>
                        {% else %}
                            <li class='active'><a href="#">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if paginator_line.last %}
                        ...
                        {% for p in paginate.last %}
                            {% if p != page_obj.number %}
                                <li><a href='{{ paginator_url }}{{ p }}/{{ query_string|safe }}'>{{ p }}</a></li>
                            {%else%}
                                <li class='active'><a href="#">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li><a href='{{ paginator_url }}{{ page_obj.next_page_number }}/{{ query_string|safe }}'>{% trans "Next" %}</a></li>
                    {% else %}
                        <li class='disabled'><a href="#">{% trans "Next" %}</a></li>
                    {% endif %}
                    </ul>
                    </div>

                    {% block paginator %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
