{% extends "base.html" %}
{# Base template to show messages #}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='base' %}
{% endblock %}

{% block maincontent %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <h1 class="panel-title">
                {% block message-pane-title %}{% endblock %} 
            </h1>
            </div>
            <div class="panel-body">
                {% block message-pane-body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
