{% extends 'base.html' %}
{% load i18n %}
{% load leaflet_tags %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='base' %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
<div class="row">
    <div id="topwidget" class="panel panel-primary" style="height:156px;">
        <div class='panel-heading'>{% trans "How it works" %}</div>
        <div class="panel-body"></div>
    </div>
</div>
<div id="locationMap" class="mainPageMapCont clearfix">
    <div id="mapWithoutFilterForm"  class="row" {% if request.session.ryndaorg_main_map_shown == 0 %}style="display:none;"{% endif %}>
        <div id="locationMapCanvas" class="col-md-9" style="height: 320px;">{% leaflet_map "indexmap" %}</div>
        <div id='mainPageFilter' class='col-md-3' style='height:320px;background-color:white'></div>
    </div>
</div>

{% if disclaimer %}
<div id="disclaimer" class="rounded_all g720 clearfix">{{ disclaimer }}</div>
{% endif %}

<div class="row">
    {{ requests }}
    {{ offers }}
    {{ completed }}
</div>

{% endblock %}

{% block scripts %}
{% leaflet_js %}
{% leaflet_css %}
<!-- Leaflet cluster scripts -->
<script type='text/javascript' src='{{ STATIC_URL }}/js/libs/leaflet.markercluster.js'></script>
<link rel='stylesheet' href='{{ STATIC_URL }}/css/MarkerCluster.css' />
<link rel='stylesheet' href='{{ STATIC_URL }}/css/MarkerCluster.Default.css' />
<!-- [if lte IE 8]><link rel='stylesheet' href='{{ STATIC_URL }}/css/MarkerCluster.Default.ie.css' /><![endif]-->
<script type='text/javascript' >
$(function(){
    Rynda.sameheight($('.message_pane'));
});
</script>
{%endblock%}
