{% extends 'base.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load leaflet_tags %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='base' %}
{% endblock %}

{% block navigation %}
{% endblock %}

{% block maincontent %}
<div class="row">
    <div id="topwidget" class="panel panel-primary">
        <div class='panel-heading'>{% trans "How it works" %}</div>
        <div class="panel-body"></div>
    </div>
</div>
<!-- Map row -->
<div id="mapWithFilterForm"  class="row" >
    <div class="panel panel-primary">
        <div class="panel panel-heading">
            <h3 class="panel-title">{% trans "Messages on map" %}</h3>
        </div>
        <div class="panel-body">
            <div id="locationMapCanvas" class="col-md-9">{% leaflet_map "indexmap" %}</div>
            <div id='mainPageFilter' class='col-md-3'>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Map filters" %}</h3>
                    </div>

                    <div class="panel-body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#mtype" role="tab" data-toggle="tab">{% trans "Message type" %}</a></li>
                            <li><a href="#category" role="tab" data-toggle="tab">{% trans "Category" %}</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="mtype">
                                <div class="form-group">
                                    {{ filter.form.mtype|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="tab-pane" id="category">
                                <div class="form-group">
                                    {{ filter.form.category|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Map row finished -->

{% if disclaimer %}
<div id="disclaimer" class="rounded_all g720 clearfix">{{ disclaimer }}</div>
{% endif %}

<div class="row">
    {{ requests }}
    {{ offers }}
    {{ completed }}
</div>

{% endblock %}

{% block scripts %}
{% leaflet_js %}
{% leaflet_css %}
<!-- Leaflet cluster scripts -->
<script type='text/javascript' src='{{ STATIC_URL }}/js/libs/leaflet.markercluster.js'></script>
<link rel='stylesheet' href='{{ STATIC_URL }}/css/MarkerCluster.css' />
<link rel='stylesheet' href='{{ STATIC_URL }}/css/MarkerCluster.Default.css' />
<!-- [if lte IE 8]><link rel='stylesheet' href='{{ STATIC_URL }}/css/MarkerCluster.Default.ie.css' /><![endif]-->
<script type='text/javascript' >
$(function(){
    Rynda.sameheight($('.message_pane'));
});

window.addEventListener("map:init", function(e){
    var detail = e.detail;
    $.ajax({
        url: '{% url "get-map-markers" %}'
    }).done(function(data) {
        var that = this;
        $.each(data, function(i, item) {
            var layer = L.geoJson(item.location).addTo(detail.map);
            var msg = "<a href='/message/" + item.id + "'>" + item.title + "</a>";
            layer.bindPopup(msg);
        });      
    });
});
</script>
{%endblock%}
