{% extends "base.html" %}
{% load i18n flatpages %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='about' %}
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li>{% trans "Information pages" %}</li>
</ul>
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Information pages" %}</h3>
        </div>
        <div class="panel-body">
            {% get_flatpages as flatpages %}
            <ul class="list-group">
                {% for page in flatpages %}
                <li class="list-group-item"><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% empty %}
                <li class="list-group-item">{% trans "Information pages not found" %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

