{% extends 'base.html' %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='about' %}
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{ flatpage.title }}</h2>
    </div>
    <div class="panel-body">
        {{ flatpage.content }}
        <div class="well">
        <p class="text-justify">Обращаем ваше внимание, что мы не являемся благотворительным фондом или организацией. Кроме того, мы не оказываем никакой помощи лично и не собираем какие-либо средства. Мы выступаем как систематизированная база просьб и предложений о помощи. Наша задача — дать людям эффективное средство для координации взаимопомощи, которое, по сути, самим своим существованием стимулирует её и повышает уровень социальной ответственности пользователей Рунета.  </p>
        </div>
    </div>
</div>
</div>
{% endblock %}
