{% extends 'base.html' %}
{% load url from future %}
{% load widget_tweaks %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='user' %}
{% endblock %}

{% block maincontent %}
<!-- Контент окна для аутентификации: -->
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Вход в систему</h2>
        </div>
        <div class="panel-body">
            {% if form.non_field_errors %}
            <div class="alert alert-warning">
                {% for e in form.non_field_errors %}
                {{ e }}
                {% endfor %}
            </div>
            {% endif %}
            <form id="loginForm" action="{% url 'django.contrib.auth.views.login' %}" method="post">
                {% csrf_token %}
                <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                    {{ form.username.label_tag }}
                    {% for e in form.username.errors %}{{ e }}{% endfor %}
                    {{ form.username|add_class:"form-control" }}
                </div>
                <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    {{ form.password.label_tag }}
                    {% for e in form.password.errors %}{{ e }}{% endfor %}
                    <div class="input-group">
                        {{ form.password|add_class:"form-control" }}
                        <span class="input-group-addon">
                            <label for="rememberField">
                                <input tabindex="3" type="checkbox" name="rememberField" id="rememberField" value="1" checked /> Помнить меня
                            </label>
                        </span>
                    </div>
                    <p class="form-control-static"><a href='/password/reset' >Я забыл пароль</a></p>
                </div>

                <div class="panel-footer">
                    <div class="row">
                        <input tabindex="4" type="submit" id="loginSubmit" class="btn rynda-btn-default btn-block" value="ВОЙТИ" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Контент окна для аутентификации - завершён -->
{%endblock%}
