{%extends 'base_list.html'%}

{%block listcontent%}
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
			$('#sortable_table').dataTable( {
		"oLanguage": {
			"sLengthMenu": "Показывать _MENU_ записей на странице",
			"sZeroRecords": "Записи не найдены",
			"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
			"sProcessing": "Подождите...",
			"sInfoEmpty": "Записи с 0 до 0 из 0 записей",
			"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
			"sSearch": "Поиск:",



		}
	} );
} );
			
		</script>
		
		<table id="sortable_table" class="display" cellspacing="0" cellpadding="0" border="1" bordercolor="#FFFFFF">
            <thead class="thead">
                <tr>
                    <th class="sorting" rowspan="1" colspan="1" style="width: 445px;">Название страницы</th>
                    <th class="sorting" rowspan="1" colspan="1" style="width: 70px;">Активна?</th>
                    <th class="sorting" rowspan="1" colspan="1" style="width: 80px;">Slug</th>
                    <th class="sorting" rowspan="1" colspan="1" style="width: 190px;"></th>
                </tr>
            </thead>
            <tbody class="tbody">
            {%for p in pages%}
            <tr>
            <td><a href='/show/infopage/{{p.id}}'>{{p.title}}</a></td>
            <td>{{p.active}}</td>
            <td>{{p.slug}}</td>
            <td></td>
            </tr>
            {%endfor%}
            </tbody>	
		</table>	
		{%endblock%}

