{%extends 'base_buttons.html' %}


{% block hubs %}
    {% include "widgets/base_hub.html"  with part='about' %}
{% endblock %}

{% block navigation %}
<div>
{% for p in pages %}
    <div class='ml10 alignleft'><a href='/info/{{ p.slug }}'>{{ p.title }}</a></div>
{% endfor %}
<div class='clearfix'></div>
</div>
{% endblock %}

{% block maincontent %}
<div class="g960 regularpage rounded_all mb35" id="content">
    <div class="ml160 g640">
    	<div class="breadcrumbs mb10">
        	<a title="Главная" href="/">Главная</a> &raquo; {{title}} 
    	</div>
        <h2 class="h24 allcaps mb10">{{title}}</h2>
		{{text|safe}}
	</div>
</div>
{%endblock%}
