{%extends 'base_list.html'%}
{%load tree %}
{%block listcontent %}
<div class="dotted">
<div class="header rounded_top"><b>{{msg.title}}</b></div>
<div class="ml10">{{msg.message|safe}}</div>
<div>
{% tree comments|astree:"reply_id" %}
{%spaceless%}
<div class='comments pa20' style='margin-left:
{%if level == 0%}0px;
{%elif level == 1%}15px;
{%elif level == 2%}30px;
{%else%}45px;
{%endif%}'>
{%endspaceless%}
<div class='header rounded_top'><b>{{item.comment.sender}}</b> {{item.comment.dateAdd|date:"d.m.Y H:i"}} {{item.comment.email}} {{item.comment.ip}}</div>
<div class='ml10'>{{item.comment.message|safe}}</div>
<div>
{%if item.comment.status == 0 %}<a href='/comments/show/{{item.comment.id}}'>Опубликовать</a>&nbsp;<a href='/comments/delete/{{item.comment.id}}'>Удалить</a>
{%elif item.comment.status == 1%}<a href='/comments/hide/{{item.comment.id}}'>Скрыть</a>
{%elif item.comment.status == 2%}Удалено пользователем.
{%elif item.comment.status == 3%}Удалено модератором. <a href='/comments/show/{{item.comment.id}}'>Опубликовать</a>
{%else%}Спам.
{%endif%}
</div>
</div> 
{%endtree%}

{%endblock%}

{% block title%}
Комментарии к сообщению
{% endblock %}
