{%extends 'base_list.html'%}

{%block listcontent%}
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
			$('#sortable_table').dataTable( {
		"oLanguage": {
			"sLengthMenu": "Показывать _MENU_ записей на странице",
			"sZeroRecords": "Записи не найдены",
			"sInfo": "Показано с _START_ по _END_ из _TOTAL_ записей",
			"sProcessing": "Подождите...",
			"sInfoEmpty": "Записи с 0 до 0 из 0 записей",
			"sInfoFiltered": "(отфильтровано из _MAX_ записей)",
			"sSearch": "Поиск:",
		}
			"bPaginate": false,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": false,
			"bInfo": false,
			"bAutoWidth": false
	} );
} );
			
		</script>
		
		<table id="sortable_table" class="display" cellspacing="0" cellpadding="0" border="1" bordercolor="#FFFFFF">
		<thead class="thead">
			<tr>
				<th class="sorting" rowspan="1" colspan="1" style="width: 630px;">Название</th>
				<th class="sorting" rowspan="1" colspan="1" style="width: 170px;"></th>
			</tr>
		</thead>
			<tbody class="tbody">
			  {%for p in items%}
				<tr class="{% cycle 'odd' 'even' %}">
					<td class="name_of_page"><a href='/show/subdomain/{{p.id}}' class="name_of_page">{{p.title}}</td>
					<td class="editd"><a class="editb" href="/show/message/{{m.id}}">ред.</a><a class="editdel" href="/delete/message/{{id}}">удалить</a></td>
				</tr>
			{%endfor%}
			</tbody>	
		</table>


{%endblock%}
