{% extends 'base_list.html' %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='message' %}
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a title="Главная" href="/">Главная</a></li>
    <li>Список сообщений</li>
</ul>
{% endblock %}

{% block listfilter%}
    {% include 'widgets/filter.html' %}
{% endblock %}

{% block listcontent %}

{% for m in object_list %}
<li class="list-group-item">
    <div class="list_content">
        <a href="/message/{{ m.id }}" class="darkRed" title="Сообщение {{ m.id }}{% if m.title %}: {{ m.title }} {% endif %}">
            {{ m.get_messageType_display|capfirst }} #{{ m.id }}{% if m.title %}: {{ m.title }} {% endif %}
        </a>
        <br />
        {{ m.message|safe|truncatewords:10 }}
        <br />
        <br />
        <span class="darkGrey fs10">
            {{m.date_add|date:"d.m.Y"}} | <a href="/message/?georegion={{ m.georegion }}" title="Все сообщения по региону «{{ m.georegion__name }}»">{{ m.georegion__name }}</a>
            {% for c in m.category.all %}
            <a href='#' class="label label-info">{{ c }}</a>
            {% endfor %}
{% comment %}    
<!--            {{if categories.length > 0}} | {{/if}}
        {{each categories}}
            <a href="/info/c/${$value.id}" class="orange" title="Все сообщения категории «${$value.name}»">${$value.name}</a>{{if $index < $data.categories.length - 1}}, {{/if}}
        {{/each}}-->
{% endcomment %}
    </span>
    </div>
</li>
{%endfor%}

{%endblock %}

{% block paginator %}
<div class="alignright"><span class="darkGrey">Сообщений на странице:</span>
    <select id="paginationItemsPerPage" name="paginationItemsPerPage">
        <option value="10" selected="selected">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="0">Все</option>
    </select>
</div>
<div class="clearfix "></div>
{% endblock %}

