{% extends 'base_list.html' %}

{% block listfilter%}
    {% include 'widgets/filter.html' %}
{% endblock %}

{% block listcontent %}
{% for m in object_list %}
<li>
    {%if m.messageType.slug == 'request'%}
    <a href="/message/{{m.id}}" title="Просьба о помощи #{{m.id}}{% if m.title %}: {{m.title}} {%endif%}" class="darkGrey list_number">#{{m.id}}</a>
    <div class="list_content">
        <a href="/message/{{m.id}}" class="darkRed" title="Просьба о помощи №{{m.id}}{%if m.title%}: {{m.title}} {%endif%}">
            <strong>Просьба о помощи #{{m.id}}{%if m.title%}: {{m.title}} {%endif%}</strong>
        </a>
    {% elif m.messageType.slug == 'offer' %}
    <a href="/message/{{m.id}}" title="Предложение помощи #${{m.id}}{% if m.title %}: {{m.title}} {% endif %}" class="darkGrey list_number">#{{m.id}}</a>
    <div class="list_content">
        <a href="/info/s/{{m.id}}" class="darkRed" title="Предложение помощи №{{m.id}}{% if m.title %}: {{m.title}} {% endif %}">
            <strong>Предложение помощи #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}</strong>
        </a>
    {% elif m.messageType.slug == 'info' %}
    <a href="/message/{{m.id}}" title="Информационное сообщение #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}" class="darkGrey list_number">#{{m.id}}</a>
    <div class="list_content">
        <a href="/info/s/{{m.id}}" class="darkRed" title="Информационное сообщение #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}">
            <strong>Информационное сообщение #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}</strong>
        </a>
    {% endif %}    
    <br />
    <div class="clearfix mt4"></div>
    <a href="/info/s/{{m.id}}" class="no_underline" title="Подробные сведения о сообщении">{{ m.message|safe|truncatewords:10 }}</a>
    <br />
    <br />
    <span class="darkGrey fs10">
        {{m.date_add|date:"d.m.Y"}} | <a href="/info/r/{{m.location.regionId}}" title="Все сообщения по региону «{{m.location.regionId}}»">{{m.location.regionId}}</a>
{% comment %}    
<!--            {{if categories.length > 0}} | {{/if}}
        {{each categories}}
            <a href="/info/c/${$value.id}" class="orange" title="Все сообщения категории «${$value.name}»">${$value.name}</a>{{if $index < $data.categories.length - 1}}, {{/if}}
        {{/each}}-->
{% endcomment %}
    </span>
    </div>
    <div class="clearfix"></div>
</li>
{%endfor%}

{%endblock %}

{% block paginator %}

<div id="paginationPages" data-current-page="{{paginator.number}}" class="alignleft list_pagination_div">
{% if page_obj.has_prev %}
    <a class='page' href='/message/page/{{page_obj.previous_page_number}}'>Назад</a>
{%else%}
    <span class='page'>Назад</span>
{%endif%}

{%if paginator_line.first%}
    {% for p in paginator_line.first %}
        {%if p != page_obj.number%}
            <a class='page' href='/message/page/{{p}}'>{{p}}</a>
        {%else%}
            <span class='current_page'>{{p}}</span>
        {%endif%}
    {%endfor%}
    ...
{%endif%}
{% for p in paginator_line.window %}
    {%if p != page_obj.number%}
        <a class='page' href='/message/page/{{p}}'>{{p}}</a>
    {%else%}
        <span class='current_page'>{{p}}</span>
    {%endif%}
{%endfor%}

{%if paginator_line.last%}
    ...
    {% for p in paginate.last %}
        {%if p != page_obj.number%}
            <a class='page' href='/message/page/{{p}}'>{{p}}</a>
        {%else%}
            <span class='current_page'>{{p}}</span>
        {%endif%}
    {%endfor%}
{%endif%}

{%if page_obj.has_next%}
    <a class='page' href='/message/page/{{page_obj.next_page_number}}'>Вперед</a>
{%else%}
    <span class='page'>Вперед</span>
{%endif%}
</div>

<div class="alignright"><span class="darkGrey">Сообщений на странице:</span>
    <select id="paginationItemsPerPage" name="paginationItemsPerPage">
        <option value="10" selected="selected">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="0">Все</option>
    </select>
</div>
<div class="clearfix "></div>
{% endblock %}

