{% extends 'base_list.html' %}

{% block listfilter%}
    {% include 'widgets/filter.html' %}
{% endblock %}

{% block listcontent %}
{% for m in object_list %}
<li>
    {%if m.messageType == 1 %}
    <a href="/message/{{m.id}}" title="Просьба о помощи #{{m.id}}{% if m.title %}: {{m.title}} {%endif%}" class="darkGrey list_number">#{{m.id}}</a>
    <div class="list_content">
        <a href="/message/{{m.id}}" class="darkRed" title="Просьба о помощи №{{m.id}}{%if m.title%}: {{m.title}} {%endif%}">
            <strong>Просьба о помощи #{{m.id}}{%if m.title%}: {{m.title}} {%endif%}</strong>
        </a>
    {% elif m.messageType == 2 %}
    <a href="/message/{{m.id}}" title="Предложение помощи #${{m.id}}{% if m.title %}: {{m.title}} {% endif %}" class="darkGrey list_number">#{{m.id}}</a>
    <div class="list_content">
        <a href="/message/{{ m.id }}" class="darkRed" title="Предложение помощи №{{m.id}}{% if m.title %}: {{m.title}} {% endif %}">
            <strong>Предложение помощи #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}</strong>
        </a>
    {% elif m.messageType == 3 %}
    <a href="/message/{{m.id}}" title="Информационное сообщение #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}" class="darkGrey list_number">#{{m.id}}</a>
    <div class="list_content">
        <a href="/message/{{ m.id }}" class="darkRed" title="Информационное сообщение #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}">
            <strong>Информационное сообщение #{{m.id}}{% if m.title %}: {{m.title}} {% endif %}</strong>
        </a>
    {% endif %}    
    <br />
    <div class="clearfix mt4"></div>
    <a href="/message/{{m.id}}" class="no_underline" title="Подробные сведения о сообщении">{{ m.message|safe|truncatewords:10 }}</a>
    <br />
    <br />
    <span class="darkGrey fs10">
        {{m.date_add|date:"d.m.Y"}} | <a href="/message/?region={{ m.georegion }}" title="Все сообщения по региону «{{ m.georegion }}»">{{ m.georegion }}</a>
{% comment %}    
<!--            {{if categories.length > 0}} | {{/if}}
        {{each categories}}
            <a href="/info/c/${$value.id}" class="orange" title="Все сообщения категории «${$value.name}»">${$value.name}</a>{{if $index < $data.categories.length - 1}}, {{/if}}
        {{/each}}-->
{% endcomment %}
    </span>
    </div>
    <div class="clearfix"></div>
</li>
{%endfor%}

{%endblock %}

{% block paginator %}
<div class="alignright"><span class="darkGrey">Сообщений на странице:</span>
    <select id="paginationItemsPerPage" name="paginationItemsPerPage">
        <option value="10" selected="selected">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="0">Все</option>
    </select>
</div>
<div class="clearfix "></div>
{% endblock %}

