{% extends 'base.html' %}

{% block hubs %}
    {% include 'widgets/base_hub.html' with part='message' %} 
{% endblock %}

{% block navigation %}
<div>
    <div class="breadcrumbs mb10">
        	<a title="Главная" href="/">Главная</a> &raquo;
            <a href="/message" title="Сообщения">Сообщения</a> &raquo;
            {% if message.messageType == 1 %}
                Предложение помощи
            {% elif message.messageType == 2 %}
                Просьба о помощи
            {% else %}
                Информационное сообщение
            {% endif %}
            № {{ message.id }} {{ message.title }}
    </div>
</div>
{% endblock %}

{% block maincontent%}

<div class="col-md-8" id="content">
    <!-- Левая панель -->
    <div class="panel panel-default" id="vm_1_column">
        <div class="panel-heading">
            <h2 class="h24 allcaps mb10">
                {{ message.title }}
            </h2>
            {% if message.status >= 3 %}
                <div id="messageVerified">{{ message.get_status_display }}</div>
            {% elif message.status == 2 %}
                <div id="messageUnverified">{{ message.get_status_display }}</div>
            {% endif %}	
        </div>
        <div class="panel-body">
            <div class="grey">{{ message.date_add|date:"d.m.Y г. H:i (e)" }}</div>
            <div class="vm_main_text rounded_all">{{ message.message|safe }}</div>
            <div class="vm_categories">
                Категории:
            {% for c in message.category.all %}
                <span class="btn btn-info btn-xs disabled">{{ c.name }}</span>
            {% endfor %}
            </div>
            {% if message.photos %}
            <div class="vm_pics">
                {% for p in message.photo %}
                <a href="{{ p.uri }}" class="photoHref" rel="photo">
                    <img src="{{ p.thumb_uri }}" alt="" />
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% comment %}
            <!-- AddThis Button BEGIN -->
            <div class="social_networks mt25">
                <script type="text/javascript">
                    var addthis_config = {ui_language: 'ru'}
                </script>		
                <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
                    addthis:title="{{ message.title}}"
                    addthis:description="{{ message.message|truncatewords:20 }}">
                    <a class="addthis_button_vk" title="Запостить во ВКонтакте"></a>
                    <a class="addthis_button_facebook" title="Запостить в Facebook"></a>
                    <a class="addthis_button_twitter" title="Запостить в Twitter"></a>
                    <a class="addthis_button_mymailru" title="Добавить в Мой Мир на Mail.ru"></a>
                    <a class="addthis_button_favorites" title="Сохранить в закладках браузера"></a>
                    <a class="addthis_button_google" title="Сохранить в закладках Google"></a>
                    <a class="addthis_button_livejournal" title="Запостить в ЖЖ"><img alt="LiveJournal" src="/css/i/lj.png" width="32px" height="32px" /></a>
                    <a class="addthis_button_compact" title="Сохранить в..."></a>
                </div>
                <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d1233ce7f701763"></script>
            </div>
            <!-- AddThis Button END -->
            {% endcomment %}
            {% include 'external/vk_comments.html' %}
        </div>
    </div>
</div>
<!-- Левая панель завершена -->

<!-- Правая панель -->
<div class="col-md-4">
    <div class="panel panel-default" id="vm_2_column">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
    <!--                <img src="/images/incognito.png" alt="Инкогнито" />-->
                    {% if not message.is_anonymous %}
                        От:
                        <strong>
                            {{ message.additional_info.first_name|capfirst }} {{ message.additional_info.phone|capfirst }}
                        </strong>
                        <div id="contactsData">
                            <span class="phone-ico mr10"></span>{{ message.additional_info.phone }}<br />
                            <span class="email-ico mr10"></span>
                            <a href="mailto:{{ message.contact_mail }}">{{ message.contact_mail }}</a>
                        </div>
                    {% else %}
                        От
                        <strong>
                            {{ message.contact_first_name|capfirst }} {{message.contact_last_name|capfirst|slice:":1" }}
                        </strong>
                        <br />
                        Пользователь предпочел скрыть свои контактные данные, используйте  для связи с ним комментарии.
                    {%endif%}
                    <br />
                </li>
            </ul>
        </div>
        {% if message.location.name or message.location.regionId %}
            <strong>На карте:</strong>
            {{message.locationId.name}} {{message.locationId.regionId}}

        {% endif %}

        Регион: {{ message.georegion }}<br />
        Адрес: {{ message.address }}<br />
            <div id="locationMap">
                <div id="locationMapCanvas" class="mt10" style="width: 410px; height: 250px;"></div>
            </div>
            <div id="messageLat" style="display:none;">{{ message.locationId.latitude}}</div>
            <div id="messageLng" style="display:none;">{{ message.locationId.longitude}}</div>
    </div>
    <!-- Правая панель завершена -->
	
	{% comment %}
    <?php if( !empty($advises) ) {?>
        <div class="g960 inside" id="nh_actualRecommendations">
            <!--<div class="more_rec">
            <a class="orange rynda_icon" href="#">Другие рекомендации</a>
            </div>-->
            <h3 class="no_text">Актуальные рекомендации</h3>
            <div class="clearfix grey_line"></div>
            <div class="act_rec_cont">
                <ul id="recommendationsList" class="no_list floatleft">
                <?php foreach($advises as $advise) {?>
                    <li>
    <!--                    <div style="width:135px; height:100px; background:#CCC; float:left; margin-right:20px;">Тут картинка</div>-->
    <!--                    <a href="/info/s/<?php echo $advise['id'];?>">-->
                        <h4 class="mb10"><?php echo $advise['title'];?></h4>
    <!--                    </a>-->
                        <div>
                        <?php echo $advise['text'];?>
                        <br /><br />
                        Категории: <?php echo formatCategoryList($advise['categories']);?>
                        <br /><br />
    <!--                    <a class="orange" href="/info/s/<?php echo $advise['id'];?>">Подробнее &raquo;</a>-->
                        </div>
                    </li>
                <?php }?>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="nh_act_rec_bottom"></div>
        </div>
    <?php }?>
	;?>
    <div class="clear1">&nbsp;</div>
    <?php $this->load->view('widgets/commentsBlock', array());?>
	{% endcomment %}
</div>
{%endblock%}

{% block scripts %}
<script type='text/javascript'>
$(function(){
    Rynda.map.createMap('locationMapCanvas');
    var geopos = new L.LatLng({{ message.location.y|stringformat:"f" }}, {{ message.location.x|stringformat:"f" }});
    Rynda.map.centerMap(geopos);
    Rynda.map.addMarker(geopos);
});
</script>
{% endblock %}
