{% extends 'base.html'%}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='message' %}
{% endblock %}

{% block maincontent %}
<div class="g960 needhelppage rounded_all mb35" id="content">
    <div id="formTotal">
        <div class="header_container rounded_top">
            <h2 class="no_text">Вам нужна помощь?</h2>
        </div>
		
        <div class="relative mt10 mb10">		
			<span class="attention">
				Обратите внимание, что поля, помеченные знаком * обязательны для заполнения.
			</span>
        </div>
        <form id="mainForm" action="" method='post'>
        {% csrf_token%}
        {{form.errors}}

        {% for f in form.hidden_fields %}
        {{ f }}
        {% endfor %}
        <div class="column_container width_fixer" id="nh1column">
        <div>
            <h3>Опишите вашу проблему</h3>
            {{form.title.label_tag}}
            {{form.title}}
            <br />
            *{{form.message.label_tag}}
            {{form.message}}
            <div id="messageTextError" class="validationError">{{form.message.errors}}</div>
        </div>
        <div>
            <h3>Расскажите о себе</h3>

            *{{form.contact_first_name.label_tag}}
            {{form.contact_first_name}}
            <div id="firstNameError" class="validationError">{{form.contact_first_name.errors}}</div>
            <br />
            *{{form.contact_last_name.label_tag}}
            {{form.contact_last_name}}
            <div id="lastNameError" class="validationError">{{form.contact_last_name.errors}}</div>
            <br />
            *{{form.contact_mail.label_tag}}
            {{form.contact_mail}}
            <div id="emailError" class="validationError">{{from.contact_mail.error}}</div>
            <br />
            {{ form.contact_phone.label_tag }}
            {{ form.contact_phone }}
            <div class="validationError">{{ form.contact_phone.error }}</div>
            <br /> 
            <label class="label_show">
                <input type="checkbox" name="isPrivate" value="1" checked />
                Не публиковать мои контактные данные (они будут доступны только модераторам)
            </label>
            <div id="contactsError" class="validationError" style="display:none;"></div>
            <br />
            <h3>Местоположение</h3>
            {{ form.georegion.label_tag }}
            {{ form.georegion }}
            <div class="validationError">{{ form.georegion.error }}</div>
            <br />
            {{ form.address.label_tag }}
            {{ form.address }}
            <div class="validationError">{{ form.address.error }}</div>
            <br />
            <h3>Категории</h3>
            {{ form.category }}
        </div>
        </div>
        {{ form.location }}
        <input type='submit'>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ form.media }}
{% endblock %}
