{%extends 'base.html'%}

{%block maincontent%}
<div class="g960 needhelppage rounded_all mb35" id="content">
    <div id="submitMessage" class="submitmessage" style="display:none"></div>
    <div id="possibleHelp" style="display:none">
        <div id="listVolunteers"></div>
        <div id="listNco"></div>
        <div id="listGo"></div>
    </div>
    <div id="formTotal">
        <div class="header_container rounded_top">
            <h2 class="no_text">Вам нужна помощь?</h2>
        </div>
		<div class="relative mt10 mb10">		
			<span class="attention">
				Обратите внимание, что поля, помеченные знаком * обязательны для заполнения.
			</span>
		</div>
        <form id="mainForm" action="" method='post'>
        {% csrf_token%}
        {{form.errors}}
            <!-- Левая панель -->
            <div class="column" id="nh1column">
                <div class="column_container width_fixer" id="nh_1_column_container">

                    <h3>1. Расскажите о себе</h3>

                    <!--input type="hidden" id="messageType" name="messageType" value="<?php echo $messageTypeSlug;?>" /-->
                    *{{form.contact_first_name.label_tag}}
                    {{form.contact_first_name}}
                    <div id="firstNameError" class="validationError">{{form.contact_first_name.errors}}</div>
                    <br />
                    *{{form.contact_last_name.label_tag}}
                    {{form.contact_last_name}}
                    <div id="lastNameError" class="validationError">{{form.contact_last_name.errors}}</div>
                    <br />
                    {% comment %}
                    <label for="firstName">*Имя:</label>
                    <input type="text" name="firstName" class="ie6_input_fixer" id="firstName"  {%if user.is_authenticated %}value="{{user.first_name}}" {%endif%} tabindex="1" maxlength="25" />
                    <label for="lastName">*Фамилия:</label>
                    <input type="text" name="lastName" id="lastName" class="ie6_input_fixer" {%if user.is_authenticated%}value="{{user.last_name}}"{%endif%} tabindex="2" maxlength="25" />
                    <div id="addPhone" class="no_text">Добавить ещё телефон</div>
                    <ul id="phonesList"><?php
                      $phones = $this->rynda_user->getPhones($user);
                      if($phones) {?>
                      <li>
                          <label for="contact_phone">*Телефон:</label>
                          <input type="text" id="contact_phone" class="phone ie6_input_fixer_phone ie6_input_fixer" name="phone[]" tabindex="3" value="<?php echo formatPhone($phones[0]);?>" maxlength="30" />
                          <div class="validationError phoneError" style="display:none;"></div>
                      </li>
                      <?php
                          for($i=1; $i<count($phones); $i++) {?>
                      <li>
                          <div class="no_text removePhone">Удалить добавочный телефон</div>
                          <label for="contact_phone">Телефон:</label>
                          <input type="text" id="contact_phone" class="phone ie6_input_fixer_phone ie6_input_fixer" name="phone[]" tabindex="3" value="<?php echo formatPhone($phones[$i]);?>" maxlength="30" />
                          <div class="validationError phoneError" style="display:none;"></div>
                          <div class="clearfix"></div>
                      </li>
                          <?php }
                      } else {?>
                      <li>
                          <label for="contact_phone">Телефон:</label>
                          <input type="text" id="contact_phone" class="phone ie6_input_fixer_phone ie6_input_fixer" name="phone[]" tabindex="3" maxlength="30" />
                          <div class="validationError phoneError" style="display:none;"></div>
                      </li>
                      <?php }?>
                        <li id="phonePrototype" style="display:none;">
                            <div class="no_text removePhone">Удалить добавочный телефон</div>
                            <!--<label for="additional_phone">Телефон:</label>-->
                            <input type="text" name="phone[]" class="phone  ie6_input_fixer_phone ie6_input_fixer" maxlength="30" disabled="disabled" />
                            <div class="validationError phoneError" style="display:none;"></div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    {% endcomment %}
                    <div class="clearfix"></div>
                    *{{form.contact_mail.label_tag}}
                    {{form.contact_mail}}
                    <div id="emailError" class="validationError">{{from.contact_mail.error}}</div>
                    <label class="label_show">
                        <input type="checkbox" name="isPrivate" value="1" checked />
                        Не публиковать мои контактные данные (они будут доступны только модераторам)
                    </label>
                    <div id="contactsError" class="validationError" style="display:none;"></div>
                    <br /><br />

                    <h3>2. Ваше местонахождение</h3>
                    <div id="locationAddressStatus">
                        <div id="addressFound"></div><a href="#" id="changeAddress" class="locationMapSwitch dotted orange icon_edit" style="display: none;" title="Выбрать на карте Ваше местоположение">Изменить</a>
                        <div id="addressNotFound">
                            Пока неизвестно — <a href="#" class="locationMapSwitch dotted">укажите его на карте</a>, пожалуйста!
                        </div>
                    </div>
                    <div style="display: none;" id="locationMapSwitch" class="no_text locationMapSwitch" title="Выбрать на карте Ваше местоположение"></div>
                    <div style="display: none;">
                        <div id="locationMap">
                            <div id="locationMapMessage">
                                <img id="mapResponseLoading" src="{{STATIC_URL}}/images/white_sm_loader.gif" style="display:none;" alt="" />
                                <div id="mapResponseText"></div>
                                <div id="mapSaveLocation" class="lightGreen" style="display: none;"> Сохранить местоположение</div>
                                <div class="clearfix"></div>
                                Координаты (Ш, Д): <span id="locationCoords">неизвестны</span>
                            </div>
                            <div id="locationMapCanvas" style="width: 950px; height: 300px;"></div>
                            <div id="locationMapControl" <!--style="display: none;"--> >
                                <label for="locationRegion">Регион:</label>
                                <select tabindex="5" name="locationRegion" id="locationRegion">
                                    <option value="0"
                                            data-zoom-level="<?php echo $this->config->item('main_map_default_zoom');?>"
                                            data-center-lat="<?php echo $this->config->item('main_map_default_lat');?>"
                                            data-center-lng="<?php echo $this->config->item('main_map_default_lng');?>"
                                    <?php if( !$this->input->cookie('ryndaorg_region') ) {?> selected <?php }?> >Все регионы</option>
                                    <?php foreach($regions as $region) {?>
                                    <option value="<?php echo $region['id'];?>"
                                            data-zoom-level="<?php echo $region['zoom'];?>"
                                            data-center-lat="<?php echo $region['lat'];?>"
                                            data-center-lng="<?php echo $region['lng'];?>"
                                            <?php if($this->input->cookie('ryndaorg_region') == $region['id']) {?> selected <?php }?> >
                                        <?php echo $region['name'];?>
                                    </option>
                                    <?php }?>
                                </select>
                                <input type="hidden" id="locationRegionId" name="locationRegionId" value="" />
                                <input type="text" tabindex="6" name="locationAddress" class="ie6_input_fixer_phone ie6_input_fixer" id="locationAddress" maxlength="100" />
                                <input type="submit" id="locationSearchSubmit" value="Найти" />
                            </div>
                            <!--<div id="locationMapLocateClient">Найти меня!</div>-->
                        </div>
                    </div>
                    <input type="hidden" id="locationLatField" name="locationLat" value="" />
                    <input type="hidden" id="locationLngField" name="locationLng" value="" />
                    <br />
                    <br />
                    <h3>3. Опишите вашу проблему</h3>
                    <label for="messageTitle">Заголовок:</label>
                    {{form.title.label_tag}}
                    {{form.title}}
                    <br />

                    *{{form.message.label_tag}}
                    {{form.message}}
                    <div id="messageTextError" class="validationError">{{form.message.errors}}</div>
                    <div id="photoload_container">
                        <label for="photo">Загрузить фотографию:</label>
                        <input type="file" id="photoField" name="photo" /><img id="photoLoading" src="/images/white_sm_loader.gif" style="display:none; padding-left:10px;" />
                        <div id="photoFieldInfo">
                            <div id="photoMessage"></div>
                            <div id="photoUploadedList"></div>
                        </div>
                    </div>
                    <br />
<!--                    <label>Ссылка на видео:
                        <ul id="videosList">
                            <li id="videoPrototype" style="display: none;">
                                <input type="text" name="video[]" maxlength="30" disabled />
                                <span class="removeVideo">Удалить</span>
                            </li>
                            <li><input type="text" name="video[]" maxlength="30" /></li>
                        </ul>
                        <div id="moreVideo">Добавить ещё ссылку на видео</div>
                    </label>
                    <br />-->
                    
                    <!-- Функции загрузки фоток и ссылок на видео - конец. -->
                    <!--<label class="label_show">
                        <input type="checkbox" name="sendNotices" value="1" />
                        Получать уведомления о предложениях помощи
                    </label>-->
                </div>
            </div>
            <!-- Левая панель завершена -->

            <!-- Правая панель -->
            <div class="column" id="nh_2_column">
                <div class="column_container" id="nh_2_column_container">
                    <!-- Выбор категорий -->
                    <h3>4. Отметьте категории Вашей проблемы:</h3>
                    <div class="list_style_corrector">
                    <ul>
                        {% for c in categories %}
                            <li>
                            {{c.name}}
                            {%if c.children %}
                            <ul>
                                {% for l in c.children %}
                                <li>
                                    <label for="id_category_{{forloop.parentloop.counter0}}">
                                    <input type="checkbox" value="{{l.id}}" id="id_category_{{forloop.parentloop.counter0}}" name="category">
                                    {{l.name}}
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                            {%endif%}
                            </li>
                        {%endfor%}
                    </ul>
                    </div>
                    <div id="categoryError" class="validationError" style="display:none;"></div>
                    <div class="clearfix">&nbsp;</div>
                    <!-- Выбор категорий -->
                    
                    {% if user.is_anonymous %}
                    <label>
                        <input type="checkbox" id="agreed" value="1" />
                            Я разрешаю использование и обработку  указанных в анкете данных
                    </label>
                    <div id="agreedError" class="validationError" style="display:none;"></div>
                    {% endif %}
                    
                    <input type="submit" id="addSubmit" class="no_text" value="Отправить!" />
                    <!--<div class="tooltip ml110 g240">Нажимая эту кнопку, Вы разрешаете сайту Рында.орг вывести на общедоступную карту Вашу информацию. </div>-->
                    <div class="clearfix"></div>
                    <div id="formResponseMessage"></div>
                    <img id="formResponseLoading" src="/images/loading.gif" style="display:none;" alt="" />
                </div>
            </div>
            <input type="hidden" name="userId" value="<?php echo empty($user->id) ? 0 : (int)$user->id;?>" />
        </form>
    </div>
    </div>
    <div class="clear1">&nbsp;</div>
{%endblock%}
