{% extends 'base.html'%}

{% load widget_tweaks %}
{% load leaflet_tags %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='message' %}
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-rynda-default">
        <div class="panel-heading">
            <h2 class="panel-title">Вам нужна помощь?</h2>
        </div>
                
        <div class="panel-body">		
            <div class="alert alert-info">
                Обратите внимание, что поля, помеченные знаком &#39;*&#39; обязательны для заполнения.
            </div>
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ forms.message.non_field_errors }}
                    {{ forms.location.non_field_errors }}
                </div>
            {% endif %}

            <div class="row">
                <form id="mainForm" action="" method='post'>
                {% csrf_token %}
                
                {% for f in forms.message.hidden_fields %}
                {{ f }}
                {% endfor %}
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Опишите вашу проблему</h3>
                        </div>

                        <div class="panel-body">
                        {% if forms.message.title.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group has-success">
                        {% endif %}
                                {{ forms.message.title.label_tag }}
                                {{ forms.message.title|add_class:"form-control" }}
                            </div>

                        {% if forms.message.message.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group has-success">
                        {% endif %}
                                *{{ forms.message.message.label_tag }}
                                {{ forms.message.message|add_class:"form-control" }}
                                {% if forms.message.message.errors %}
                                <div id="messageTextError" class="alert alert-danger">{{ forms.message.message.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ forms.message.category.label_tag }}
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {{ forms.message.category|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                   
            <div class="checkbox">
                <label for="{{ forms.message.allow_feedback.id_for_label }}">
                    {{ forms.message.allow_feedback.label }}{{ forms.message.allow_feedback }}
                </label>
            </div>

            <div class="panel panel-default" id="recipient-data">
                <div class="panel-heading">
                    <h3 class="panel-title">Расскажите о себе</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        *{{ forms.message.first_name.label_tag }}
                        {{ forms.message.first_name|add_class:"form-control" }}
                    </div>
                    <div id="firstNameError" class="validationError">{{ forms.message.first_name.errors }}</div>
                    
                    <div class="form-group">
                        *{{ forms.message.last_name.label_tag }}
                        {{ forms.message.last_name|add_class:"form-control" }}
                    </div>
                    <div id="lastNameError" class="validationError">{{forms.message.contact_last_name.errors}}</div>
                    
                    <div class="form-group">
                        *{{ forms.message.email.label_tag }}
                        {{ forms.message.email|add_class:"form-control" }}
                    </div>
                    <div id="emailError" class="validationError">{{forms.message.contact_mail.error}}</div>

                    <div class="form-group">
                        {{ forms.message.phone.label_tag }}
                        {{ forms.message.phone|add_class:"form-control" }}
                    </div>
                    <div class="validationError">{{ forms.message.contact_phone.error }}</div>

                    <div class="checkbox">
                        {{ forms.message.is_anonymous.label_tag }}{{ forms.message.is_anonymous }}
                    </div>
                   <div id="contactsError" class="validationError" style="display:none;"></div>
                    <br />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Местоположение</h3>
                </div>
                <div class="panel-body">
                    {{ forms.location.errors }}
                    {{ forms.location.name.label_tag }}
                    {{ forms.location.name|add_class:"form-control" }}
                    <div class="validationError">{{ forms.location.name.error }}</div>
                    <br />
                    {{ form.address.label_tag }}
                    {{ form.address }}
                    <div class="validationError">{{ form.address.error }}</div>
                    <br />
                    {{ forms.location.coordinates }}
                </div>
            </div>
                <div class="panel-footer">
                    <input type='submit' class="btn btn-rynda-default form-control">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ form.media }}
{% leaflet_css plugins="forms, draw" %}
{% leaflet_js plugins="forms, draw" %}
{% endblock %}
