{% extends 'base.html' %}
{% load i18n %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='user' %}
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/user/">{% trans "User list" %}</a></li>
    <li>{% trans "User page" %}</li>
</ul>
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
    <div id="user_profile_container" class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left" style="padding-top:7px;">{% blocktrans with name=u.get_full_name|default:u.email %}User profile for {{ name }}{% endblocktrans %}</h3>
            {% if user.id = u.id %}
            <div class="pull-right">
                <a href="{% url "user-profile-edit" %}" class="btn btn-primary">{%trans "Edit profile" %}</a>
            </div>
            {% endif %}
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">
                        <li id="avatar_container" class="list-group-item">
                            <img class="img-circle center-block" src="{{STATIC_URL}}{{user.url|default:'/img/anonymous.png'}}" />
                        </li>
                        
                        <li class="list-group-item">
                        {% trans "Registration date:" %} {{ u.date_joined|date:"SHORT_DATE_FORMAT" }}</li>

                        <li class="list-group-item">
                        {% trans "Last login:" %} {{ u.last_login|date:"SHORT_DATE_FORMAT" }}</li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default" id="user_profile_box_container">
                        <div class="panel-heading" id="user_FI_Container">
                            <h3 class="panel-title">{% trans "About me" %}</h3>
                        </div>
                        <div class="panel-body">
                            {{ u.profile.about_me }}
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% trans "User's posts" %}</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="fa fa-envelope"></span> 
                                    <a href="mailto:{{ u.email }}" title="{% trans "Write email" %}">{{ u.email }}</a>
                                </li>
                                <li class="list-group-item">
                                    <span>
                                    {% for p in u.phones %}
                                        <span class="phone-ico"></span>{{ p }}<br />
                                    {% endfor %}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- Right pane end -->
                </div>
            </div> <!-- Row end -->
        </div>
    </div>
</div>
                        {% comment %}
                            {% if soc_profiles %}
                            <h4><span>В соц.сетях:</span></h4>
                            <div id="socialNet_showContainer">
                                {% for p in soc_profiles %}
                                <div class="socialNet_show">
                                    <a href="{{ p.profileUrl }}"><img src="{{ p.socNetIcon }}" /><span>{{ p.socNetTitle }}</span></a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="clear">&nbsp;</div>
                            {% if volunteerProfiles %}
                            <h4><span>Профили волонтёрства</span></h4>
                            <div id="vpList">
                                <ul>
                                    {% for vp in volunteerProfiles %}
                                    <li><a href="#vp{{ vp.id }}">{{ vp.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% for vp in volunteerProfiles %}
                                <div id="vp{{ vp.id }}">
                                    Профиль №{{ vp.id }}
                                    <p><span class="region"></span>Местоположение: {{vp.address}} (<a href="/info/r/{{vp.regionId}}" title="Все сообщения по этому региону">{{vp.regionName}}</a>)</p>
                                    <p><span class="distance"></span>На каком расстоянии готов(а) помогать:
                                            <strong>{{vp.distance}}</strong></p>
                                    <p><span class="days"></span>По каким дням готов(а) помогать:
                                    <strong>{{vp.days}}</strong>
                                    <p><span class="categoryhelp"></span>Категории помощи: {% if vp.isAllCategories %}'любые'{%else%}{% for c in vp.categories %}c{% endfor %}{% endif %}</p>
                                    {% if u == user %}
                                    <p><span class="mailoutEmail"></span>Присылать уведомления о подходящих просьбах о помощи на: {{vp.mailoutEmail}}</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <h4>
                                Сообщения пользователя <div id="messagesCount"></div>
                            </h4>
                            <div id="messageList_container">
                                <div class="date_select_profile mb10">
                                    <a href="#" class="dateAddedFrom listFilter" id="<?php echo mktime(0, 0, 0);?>" title="Только сообщения, поступившие сегодня">За сегодня</a> |
                                    <a href="#" class="dateAddedFrom listFilter" id="<?php echo strtotime('-3 day', mktime(0, 0, 0));?>" title="Только сообщения, поступившие за последние 3 дня">За 3 дня</a> |
                                    <a href="#" class="dateAddedFrom listFilter" id="<?php echo strtotime('-1 week', mktime(0, 0, 0));?>" title="Только сообщения, поступившие за последнюю неделю">За неделю</a> |
                                    <a href="#" class="dateAddedFrom listFilter activeDateFilter" id="0" title="Сообщения, поступившие за все время">За все время</a>
                                </div>
                                <div id="controlResponseMessage"></div>
                                <ul id="messagesList" class="no_list profile_list"></ul>
                                <div class="clearfix"></div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endcomment %}
{% endblock %}
