{% extends 'base_list.html' %}
{% load i18n %}

{% block listfilter %}
    {% include "widgets/filter.html" %}
{% endblock %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='user' %}
{% endblock %}

{% block listcontent %}
{% for u in filter %}
<li class="list-group-item">
    <div class="list_content">
        <strong>{{ u.get_full_name }}</strong>
        <br />
        <a href="{% url "user-details" u.id %}" >{% trans "More info" %}</a>
        <div class="well well-sm">
            {% trans "Registered at:" %}&nbsp;{{ u.date_joined|date:"DATETIME_FORMAT" }} | {% trans "Last login at:" %}&nbsp;{{ u.last_login|date:"SHORT_DATE_FORMAT" }}
        </div>
    </div>
</li>
{% endfor%}
{% endblock %}

{% block paginator%}
<div class="alignright"><span class="darkGrey">{% trans "Users on page:" %}</span>
        <span class="badge">10</span>
</div>
{% endblock %}
