{% extends 'base.html' %}
{% load i18n %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='user' %}
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/user/">{% trans "User list" %}</a></li>
    <li>{% trans "User page" %}</li>
</ul>
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
    <div id="user_profile_container" class="panel panel-primary">
        <div class="panel-heading clearfix">
            <h1 class="panel-title pull-left" style="padding-top:7px;">{% blocktrans with name=u.get_full_name|default:u.email %}User profile for {{ name }}{% endblocktrans %}</h3>
            {% if user.id = u.id %}
            <div class="pull-right">
                <a href="/user/edit/{{ user.id }}" class="btn btn-primary">{%trans "Edit profile" %}</a>
            </div>
            {% endif %}
        </div>

        <div class="panel-body">
            <div class="row" id="user_profile_warp2_container">
                <div class="col-md-4">
                    <div id="avatar_container">
                        <img class="img-circle" src="{{STATIC_URL}}{{user.url|default:'/css/i/anonymous.png'}}" />
                    </div>
                    <div id="user_profile_left_column_shortData">
                        <div class="UP_left_column_shortData_cont">
                            <span class="darkGrey">{% trans "Sex:" %}</span>
                            {% if u.gender = 1 %}{% trans "Male" %} 
                            {% elif u.gender = 2 %}{% trans "Female" %}
                            {% else %}{% trans "Unknown" %}{% endif %}
                        </div>
                        <br />
                        {% if u.about_me %}
                        <div class="UP_left_column_shortData_cont">
                            <span class="darkGrey">{% trans "About myself" %}</span>
                            {{u.about_me}}
                        </div>
                        {% endif %}
                        <br />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default" id="user_profile_box_container">
                        <div class="panel-heading" id="user_FI_Container">
                            <h3 class="user_FI">
                                {{ u.get_full_name|default:u.email }}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="prof_info_container absolute">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                    {% blocktrans with lastlogin=u.last_login|date:"SHORT_DATE_FORMAT" %}Last login: {{ lastlogin }}{% endblocktrans %}</li>
                                    <li class="list-group-item">
                                    {% blocktrans with regdate=u.date_joined|date:"SHORT_DATE_FORMAT" %}Registration date: {{ regdate }}{% endblocktrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div id="contactsData" {% if u = users %}style="display:none"{% endif %} class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-envelope"></span> 
                                    <a href="mailto:{{ u.email }}" title="{% trans "Write email" %}">{{ u.email }}</a>
                                </li>
                                <li class="list-group-item">
                                    <span>
                                    {% for p in u.phones %}
                                        <span class="phone-ico"></span>{{ p }}<br />
                                    {% endfor %}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        {% if u != user %}
                        <div id="contactsHidden" class="pl20 mt25 mb10 darkGrey ">
                            {% trans "Contacts are hidden" %}
                            <div id="showContacts" class="dotted green mt4">{% trans "Open contacts" %}</div>
                        </div>
                        {% endif %}
                            {% if soc_profiles %}
                            <h4><span>В соц.сетях:</span></h4>
                            <div id="socialNet_showContainer">
                                {% for p in soc_profiles %}
                                <div class="socialNet_show">
                                    <a href="{{ p.profileUrl }}"><img src="{{ p.socNetIcon }}" /><span>{{ p.socNetTitle }}</span></a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        <div class="clear">&nbsp;</div>
                            {% if volunteerProfiles %}
                            <h4><span>Профили волонтёрства</span></h4>
                            <div id="vpList">
                                <ul>
                                    {% for vp in volunteerProfiles %}
                                    <li><a href="#vp{{ vp.id }}">{{ vp.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% for vp in volunteerProfiles %}
                                <div id="vp{{ vp.id }}">
                                    Профиль №{{ vp.id }}
                                    <p><span class="region"></span>Местоположение: {{vp.address}} (<a href="/info/r/{{vp.regionId}}" title="Все сообщения по этому региону">{{vp.regionName}}</a>)</p>
                                    <p><span class="distance"></span>На каком расстоянии готов(а) помогать:
                                            <strong>{{vp.distance}}</strong></p>
                                    <p><span class="days"></span>По каким дням готов(а) помогать:
                                    <strong>{{vp.days}}</strong>
                                    <p><span class="categoryhelp"></span>Категории помощи: {% if vp.isAllCategories %}'любые'{%else%}{% for c in vp.categories %}c{% endfor %}{% endif %}</p>
                                    {% if u == user %}
                                    <p><span class="mailoutEmail"></span>Присылать уведомления о подходящих просьбах о помощи на: {{vp.mailoutEmail}}</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}

                            <h4><span>
                                Сообщения пользователя <div id="messagesCount"></div>
                            </h4>
                            <div id="messageList_container">
                                <div class="date_select_profile mb10">
                                    <a href="#" class="dateAddedFrom listFilter" id="<?php echo mktime(0, 0, 0);?>" title="Только сообщения, поступившие сегодня">За сегодня</a> |
                                    <a href="#" class="dateAddedFrom listFilter" id="<?php echo strtotime('-3 day', mktime(0, 0, 0));?>" title="Только сообщения, поступившие за последние 3 дня">За 3 дня</a> |
                                    <a href="#" class="dateAddedFrom listFilter" id="<?php echo strtotime('-1 week', mktime(0, 0, 0));?>" title="Только сообщения, поступившие за последнюю неделю">За неделю</a> |
                                    <a href="#" class="dateAddedFrom listFilter activeDateFilter" id="0" title="Сообщения, поступившие за все время">За все время</a>
                                </div>
                                <div id="controlResponseMessage"></div>
                                <ul id="messagesList" class="no_list profile_list"></ul>
                                <div class="clearfix"></div>
                           </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
    </div>
</div>
{% endblock %}
