{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{{ title }}{% endblock %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='user' %}
{% endblock %}

{% block maincontent %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel rynda-panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {{ title }}
                </h1>
            </div>
            <div class="panel-body">
                <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
                <a href="{% url 'user-login' %}">{% trans 'Log in again' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
