{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password reset complete' %}{% endblock %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='base' %}
{% endblock %}

{% block maincontent %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans 'Password reset complete' %}</h1>
            </div>
            <div class="panel-body">
                <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
                <p><a href="{{ login_url }}"><strong>{% trans 'Log in' %}</strong></a></p>
            </div>
        </div>
    </div>
{% endblock %}
