{% extends "base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password reset successful' %}{% endblock %}

{% block maincontent %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
            <h1 class="panel-title">
                {% trans 'Password reset successful' %}
            </h1>
            </div>
            <div class="panel-body">
                <p>{% trans "We've emailed you instructions for setting your password. You should be receiving them shortly." %}</p>
                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            </div>
        </div>
    </div>
{% endblock %}
