{% extends 'base_editor.html' %}
{%block scripts%}
{{block.super}}
<script type='text/javascript' src="/media/javascript/maps.js"></script>

<script type='text/javascript'>
var m;
/** 
 * Обработка результата запроса обратного геокодирования. Отображает адрес, соотвествующий координатам маркера
 **/
function showAddress(data){
    if (data.Status.code == 200){
        $('#point_address').text(data.Placemark[0].address);
    } else if (data.Status.code == 610) {
        alert('Задан неверный ключ Google API!');
    } else { 
        alert ('Произошла ошибка при определении адреса маркера!');
    }    
}

/**
 * Перемещение маркера в случае успешного определения геокоординат адреса
 **/
function moveMarker(data){
    if (data.Status.code == 200){
        coords = data.Placemark[0].Point.coordinates;
        var latlon = new google.maps.LatLng(coords[1], coords[0]);
        m.map.panTo(latlon);
        m.marker.setPosition(latlon);
        $('#id_lat').val(coords[1]);
        $('#id_lon').val(coords[0]);
        $('#point_address').text(data.Placemark[0].address);
    } else {
        alert ('Произошла ошибка при определении координат');
    }
}
$(function(){
m = GoogleMapper;
m.key = '{{key}}'; 
m.createMap('#map_canvas', $('#id_lat').val(),$('#id_lon').val(),'{{form.title.value}}');
m.getAddress($('#id_lat').val(),$('#id_lon').val(), showAddress);
});

</script>
{%endblock%}

{% block content %}
<div class="g960 needhelppage rounded_all mb35" id="content">
	<div id="formTotal">
        <div class="header_container rounded_top">
            <h3 class="mb0 rounded_top regulartext_header">
           		{% if not id  %}
                Новая организация
                {% else %}
                Редактировать организацию
                {% endif %}
       		</h3>
        </div>
        <form action='/show/organization/{{id}}' method='POST'>
        	<div>
            	<div class="column g640" id="editingcolumn">
                	<div class="column_container" id="nh_1_column_container">
                        {{form.errors}}
                        {% for f in form.hidden_fields %}
                            {{f}}
                        {% endfor %}
                        <div class='fieldwrapper'>
                            {{form.orgType.errors}}<br />
                            {{form.orgType.label_tag}}<br />
                            {{form.orgType}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.name.errors}}<br />
                            *{{form.name.label_tag}}<br />
                            {{form.name}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.description.errors}}<br />
                            *{{form.description.label_tag}}<br />
                            {{form.description}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.region.errors}}<br />
                            *{{form.region.label_tag}}<br />
                            {{form.region}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.address.errors}}<br />
                            *{{form.address.label_tag}}<br />
                            {{form.address}}
                            <a href='#' onclick="m.getCoords($('#id_address').val(),moveMarker);return false;">Установить маркер</a>
                            <br />
                            Адрес маркера: <div id='point_address'>
                            </div><div id='map_canvas' style='width:100%;height:256'></div>
                        </div>
                        <div class='fieldwrapper'>
                            {{form.contacts.errors}}<br />
                            *{{form.contacts.label_tag}}<br />
                            {{form.contacts}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.phone.errors}}<br />
                            {{form.phone.label_tag}}<br />
                            {{form.phone}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.email.errors}}<br />
                            {{form.email.label_tag}}<br />
                            {{form.email}}
                        </div>
                        <div class='fieldwrapper'>
                            {{form.site.errors}}<br />
                            {{form.site.label_tag}}<br />
                            {{form.site}}
                        </div>
        			</div>
                </div>
                <div class="column g240" id="editingcolumnmsg2">
                	<div class="column_container" id="nh_2_column_container"> 
                    	<div class='fieldwrapper categories_list'>
                            {{form.category.errors}}<br />
                            *{{form.category.label_tag}}<br />
                            {{form.category}}
        				</div>
                        <div class="clear ">&nbsp;</div> 
        				<input type='submit' id="addSubmit" class="no_text mt25" value='Сохранить'>
                    </div>
                </div>        
			</div>
		</form>
	</div>
</div>
{% endblock %}
