{% extends 'base_list.html' %}
{% load i18n %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='message' %}
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li>{% trans "Message list" %}</li>
</ul>
{% endblock %}

{% block listfilter%}
    {% include 'widgets/filter.html' %}
{% endblock %}

{% block listcontent %}

{% for m in filter %}
<li class="list-group-item">
    <div class="list_content">
        <a href="{% url "message-details" m.id %}" class="darkRed">
            {{ m.get_messageType_display|capfirst }} #{{ m.id }}{% if m.title %}: {{ m.title }} {% endif %}
        </a>
        <br />
        {{ m.message|safe|truncatewords:10 }}
        <br />
        <br />
        <span class="darkGrey fs10">
            {{m.date_add|date:"SHORT_DATE_FORMAT"}} | 
            {% for c in m.category.all %}
            <a href="{% url "messages-list" %}?category={{ c.id }}" class="rynda-tag">{{ c }}</a>
            {% endfor %}
        </span>
    </div>
</li>
{%endfor%}

{%endblock %}

{% block paginator %}
<div class="alignright"><span class="darkGrey">{% trans "Messages on page:" %}</span>
    <span class="badge">10</span>
</div>
{% endblock %}
