{% extends 'base.html' %}
{% load i18n %}

{% block hubs %}
    {% include 'widgets/base_hub.html' with part='message' %} 
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/message">{% trans "Message list" %}</a></li>
    <li>{{ message.get_messageType_display }}
        {% comment %}{% if message.messageType == 1 %}
            Предложение помощи
        {% elif message.messageType == 2 %}
            Просьба о помощи
        {% else %}
            Информационное сообщение
        {% endif %}
        {% endcomment %}
        № {{ message.id }} {{ message.title }}</li>
</ul>
{% endblock %}

{% block maincontent%}

<div class="col-md-8" id="content">
    <!-- Left pane -->
    <div class="panel panel-default" id="vm_1_column">
        <div class="panel-heading">
            <h2 class="h24 allcaps mb10">
                {{ message.title }}
            </h2>
            {% if message.status >= 3 %}
                <div id="messageVerified">{{ message.get_status_display }}</div>
            {% elif message.status == 2 %}
                <div id="messageUnverified">{{ message.get_status_display }}</div>
            {% endif %}	
        </div>
        <div class="panel-body">
            <div class="grey">{{ message.date_add|date:"d.m.Y г. H:i (e)" }}</div>
            <div class="vm_main_text rounded_all">{{ message.message|safe }}</div>
            <div class="vm_categories">
                {% trans "Categories" %}:
            {% for c in message.category.all %}
                <span class="btn btn-info btn-xs disabled">{{ c.name }}</span>
            {% endfor %}
            </div>
            {% if message.photos %}
            <div class="vm_pics">
                {% for p in message.photo %}
                <a href="{{ p.uri }}" class="photoHref" rel="photo">
                    <img src="{{ p.thumb_uri }}" alt="" />
                </a>
                {% endfor %}
            </div>
            {% endif %}
            {% include 'external/vk_comments.html' %}
        </div>
    </div>
</div>
<!-- Left pane finished-->

<!-- Right pane -->
<div class="col-md-4">
    <div class="panel panel-default" id="vm_2_column">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    {% trans "From:" as from %}
                    {% if not message.is_anonymous %}
                    {{ from }}
                        <strong>
                            {{ message.additional_info.first_name|capfirst }} {{ message.additional_info.last_name|capfirst }}
                        </strong>
                        <div id="contactsData">
                            <span class="phone-ico mr10"></span>{{ message.additional_info.phone }}<br />
                            <span class="glyphicon glyphicon-envelope"></span>
                            <a href="mailto:{{ message.contact_mail }}">{{ message.additional_info.email }}</a>
                        </div>
                    {% else %}
                        {{ from }}
                        <strong>
                            {{ message.additional_info.first_name|capfirst }} {{message.additional_info.last_name|capfirst|slice:":1" }}.
                        </strong>
                        <br />
                        {% blocktrans %}
                        This user preferred to hide contacts. You can use comments to communicate with him.
                        {% endblocktrans %}
                    {%endif%}
                    <br />
                </li>
            </ul>
        </div>
        {% if message.location.name or message.location.regionId %}
            <strong>{% trans "On map:" %}</strong>
            {{message.locationId.name}} {{message.locationId.regionId}}
        {% endif %}

        {% trans "Region:" %} {{ message.georegion }}<br />
        {% trans "Address:" %} {{ message.address }}<br />
            <div id="locationMap">
                <div id="locationMapCanvas" class="mt10" style="width: 410px; height: 250px;"></div>
            </div>
            <div id="messageLat" style="display:none;">{{ message.locationId.latitude}}</div>
            <div id="messageLng" style="display:none;">{{ message.locationId.longitude}}</div>
    </div>
    <!-- Right pane finished -->
</div>
{%endblock%}

{% block scripts %}
<script type='text/javascript'>
$(function(){
    Rynda.map.createMap('locationMapCanvas');
    var geopos = new L.LatLng({{ message.location.y|stringformat:"f" }}, {{ message.location.x|stringformat:"f" }});
    Rynda.map.centerMap(geopos);
    Rynda.map.addMarker(geopos);
});
</script>
{% endblock %}
