{% extends 'base.html' %}
{% load i18n %}
{% load leaflet_tags %}

{% block hubs %}
    {% include 'widgets/base_hub.html' with part='message' %} 
{% endblock %}

{% block navigation %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/message">{% trans "Message list" %}</a></li>
    <li>{{ message.get_messageType_display }}
        № {{ message.id }} {{ message.title }}</li>
</ul>
{% endblock %}

{% block maincontent%}

<div class="col-md-8" id="content">
    <!-- Left pane -->
    <div class="panel panel-primary" id="vm_1_column">
        <div class="panel-heading">
            <div class="pull-right">
            {% if message.status >= 3 %}
                <span class="glyphicon glyphicon-check"></span>
            {% endif %}	
            {{ message.get_status_display }}
            </div>
            <h3 class="panel-title">{{ message.title }}</h3>
        </div>
        <div class="panel-body">
            {{ message.message }}
            {% if message.photos %}
            <div class="vm_pics">
                {% for p in message.photo %}
                <a href="{{ p.uri }}" class="photoHref" rel="photo">
                    <img src="{{ p.thumb_uri }}" alt="" />
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="panel-footer">
            <span class="glyphicon glyphicon-tags"></span>
            {% trans "Categories" %}:
            {% for c in message.category.all %}
                <span class="rynda-tag">{{ c.name }}</span>
            {% endfor %}
        </div>
    </div>
    {% if message.allow_feedback %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans "Comments" %}</h3>
        </div>
        <div class="panel-body">
            {% include 'external/vk_comments.html' %}
        </div>
    </div>
    {% endif %}
</div>
<!-- Left pane finished-->

<!-- Right pane -->
<div class="col-md-4">
    <div class="panel-group" id="vm_2_column">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>{% trans "Received:" %}</strong> {{ message.date_add }}
                    </li>
                    <li class="list-group-item">
                        <strong>{% trans "From:" %}</strong> {{ message.get_sender_name }}
                    </li>

                    {% if message.is_anonymous %}
                    <li class="list-group-item">
                        {% blocktrans %}
                        This user preferred to hide contacts. You can use comments to communicate with him.
                        {% endblocktrans %}
                    </li>
                    {% else %}
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-earphone"></span>
                        {{ message.additional_info.phone }}
                    </li>
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <a href="mailto:{{ message.additional_info.email }}">{{ message.additional_info.email }}</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
        </div>

        {% if not message.is_virtual %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-globe"></span>
                    {% trans "On map" %}</h3>
            </div>

            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>{% trans "Region:" %}</strong>
                        {{ message.location.region|default:"Unknown" }}
                    </li>
                    <li class="list-group-item">
                        <strong>{% trans "Address:" %}</strong>
                        {{ message.linked_location.name }}
                    </li>

                    <li class="list-group-item">
                        <div id="messagemap">{% leaflet_map "messagemap" %}</div>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        </div>
    </div>
    <!-- Right pane finished -->
</div>
{%endblock%}

{% block scripts %}
{% leaflet_js %}
{% leaflet_css %}

<script type='text/javascript'>
window.addEventListener("map:init", function(e){
    var detail = e.detail;
    var layer = L.geoJson({{ message.linked_location.coordinates.json|safe }}).addTo(detail.map);
    detail.map.fitBounds(layer.getBounds());
    detail.map.setZoom(12);
});
</script>
{% endblock %}
