{% extends 'base.html'%}
{% load i18n %}

{% load widget_tweaks %}
{% load leaflet_tags %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='message' %}
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% block form_title %}{% trans "New message" %}{% endblock %}</h2>
        </div>
                
        <div class="panel-body">		
            <div class="alert alert-info">
                {% blocktrans %}
                Please note, that fields marked with &#39;*&#39; are required.
                {% endblocktrans %}
            </div>
            <form id="mainForm" action="" method='post'>
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors.as_text }}
                </div>
            {% endif %}

            <div class="row">
                {% csrf_token %}
                
                {% for f in form.hidden_fields %}
                {{ f }}
                {% endfor %}
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{% block message_title %}{% trans "Message" %}{% endblock %}</h3>
                        </div>

                        <div class="panel-body">
                        {% if form.title.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group has-success">
                        {% endif %}
                                {{ form.title.label_tag }}
                                {{ form.title|add_class:"form-control" }}
                            </div>

                        {% if form.message.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group has-success">
                        {% endif %}
                                *{{ form.message.label_tag }}
                                {{ form.message|add_class:"form-control" }}
                                {% if form.message.errors %}
                                <div id="messageTextError" class="alert alert-danger">{{ form.message.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="checkbox">
                                <label for="{{ form.allow_feedback.id_for_label }}">
                                    {{ form.allow_feedback.label }}{{ form.allow_feedback }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ form.category.label_tag }}
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                {{ form.category|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                   

            <div class="panel panel-default" id="recipient-data">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "About yourself" %}</h3>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        *{{ form.first_name.label_tag }}
                        {{ form.first_name|add_class:"form-control" }}
                    </div>
                    <div id="firstNameError" class="validationError">{{ form.first_name.errors }}</div>
                    
                    <div class="form-group">
                        *{{ form.last_name.label_tag }}
                        {{ form.last_name|add_class:"form-control" }}
                    </div>
                    <div id="lastNameError" class="validationError">{{form.contact_last_name.errors}}</div>
                    
                    <div class="form-group">
                        *{{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}
                    </div>
                    <div id="emailError" class="validationError">{{ form.email.errors }}</div>

                    <div class="form-group">
                        {{ form.phone.label_tag }}
                        {{ form.phone|add_class:"form-control" }}
                    </div>
                    <div class="validationError">{{ form.phone.errors }}</div>

                    <div class="checkbox">
                        {{ form.is_anonymous.label_tag }}{{ form.is_anonymous }}
                    </div>
                   <div id="contactsError" class="validationError" style="display:none;"></div>
                    <br />
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Geoposition" %}</h3>
                </div>
                <div class="panel-body">
                    {{ form.address.label_tag }}
                    {{ form.address|add_class:"form-control" }}
                    <div class="validationError">{{ form.address.error }}</div>
                    <br />
                    <br />
                    {{ form.coordinates }}
                </div>
            </div>
                <div class="panel-footer">
                    <input type='submit' class="btn rynda-btn-default form-control">
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% leaflet_css plugins="forms" %}
{% leaflet_js plugins="forms" %}
{{ form.media }}
{% endblock %}
