{% load i18n %}
{% trans "Messages" as msgs %}
{% trans "Organizations" as orgs %}
{% trans "Users" as users %}
{% trans "About" as about %}
<div id='hub_tabs'>
    <ul class="hr tabs">
        {% if part == 'base' %}
            <li class='tab_active'><div class='tabLink_container'>&nbsp;</div></li>
        {% else %}
            <li><div class='tabLink_container'><a href='/'>&nbsp;</a></div></li>
        {% endif %}

        {% if part == 'message' %}
            <li class='tab_active'><div class='tabLink_container'>{{ msgs }}</div></li>
        {% else %}
            <li><div class='tabLink_container'><a href='/message'>{{ msgs }}</a></div></li>
        {% endif %}

        {% if part == 'organization' %}
            <li class='tab_active'><div class='tabLink_container'>{{ orgs }}</div></li>
        {% else %}
            <li><div class='tabLink_container'><a href='/organization'>{{ orgs }}</a></div></li>
        {% endif %}
        
        {% if part == 'user' %}
            <li class='tab_active'><div class='tabLink_container'>{{ users }}</div></li>
        {% else %}
            <li><div class='tabLink_container'><a href='/user'>{{ users }}</a></div></li>
        {% endif %}
       
        {% if part == 'about' %} 
            <li class='tab_active'><div class='tabLink_container'>{{ about }}</div></li>
        {% else %}
            <li><div class='tabLink_container'><a href='{% url "about_project" %}'>{{ about }}</a></div></li>
        {% endif %}
    </ul>
</div>

