{% extends 'base.html' %}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='about' %}
{% endblock %}

{% block maincontent %}
<div class="col-md-10 col-md-offset-1">
<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">О проекте</h2>
    </div>
    <div class="panel-body">
        <p class="text-justify">Каждый человек способен оказать помощь. Это зависит от его профессиональных навыков, физических возможностей, количества свободного времени, места проживания, его моральных принципов.  </p>
        <p class="text-justify">Каждому человеку иногда нужна помощь.  </p>
        <p class="text-justify">Очень часто бывает, что тот, кто хочет и может помочь, находится рядом, но ни мы, ни он не знает об этом.  </p>
        <p class="text-justify">Необходимость взаимопомощи особенно ощущается в кризисных ситуациях, когда, с одной стороны, увеличивается число нуждающихся в помощи, а с другой – растет желание помощь оказывать. Развитие Интернета, технологий краудсорсинга и сетевого общества предлагает возможности связывать тех, кому нужна помощь, с теми, кто может ее оказать – как в кризисных ситуациях, так и в повседневной жизни.  </p>
        <p class="text-justify">«Виртуальная Рында» - это средство для координации взаимопомощи, задача которого – раскрыть потенциал российского сетевого сообщества в области сотрудничества между пользователями Интернета и различными организациями, включая некоммерческие организации, государственные структуры и бизнес.  </p>
        <p class="text-justify">Сайт позволяет каждому сообщить о своей беде или желании помочь через различные каналы (Интернет, мобильная связь). Затем такие сообщения систематизируются и наносятся на карту.  </p>
        <p class="text-justify">Так сообщение поступает в публичное пространство и позволяет привлечь внимание общественности к разного рода событиям и проблемам. Сбор, анализ, обработка и предоставление такой информации помогают максимально эффективно связать участников событий с теми, кто может им помочь.  </p>
        <h2>История проекта:</h2>
        <p class="text-justify">Деятельность блоггеров и пользователей Рунета во время пожаров лета 2010 года показала огромный потенциал взаимопомощи среди российских граждан в целом и пользователей Интернета в частности.  </p>
        <p class="text-justify">Не менее важно, что для раскрытия этого потенциала необходима единая информационная платформа для координации действий людей, позволяющая сделать оказание помощи более эффективным.  </p>
        <p class="text-justify">Именно тогда родился наш первый проект, «Карта помощи пострадавшим от пожаров». Этот сайт стал базой данных, с одной стороны, позволяющей каждому предоставить информацию, а с другой — систематизировать ее согласно актуальности, времени, месту и типу сообщения. Координационный центр, работавший на базе «Карты», позволил значительно повысить эффективность оказания помощи через согласование действий между теми, кто хотел помочь, и теми, кто в помощи нуждался.  </p>
        <p class="text-justify">Затем была открыта «Карта помощи в холода». После трагедии в Японии — «Карта радиации».  </p>
        <p class="text-justify">Со временем на эти сайты стали приходить сообщения, не связанные с темами пожаров, холодов и техногенных катастроф. Стало очевидно, что нужна единая база, куда человек может обратиться за помощью и советом. Так родилась идея «Виртуальной Рынды».  </p>
        <div class="well">
        <p class="text-justify">Обращаем ваше внимание, что мы не являемся благотворительным фондом или организацией. Кроме того, мы не оказываем никакой помощи лично и не собираем какие-либо средства. Мы выступаем как систематизированная база просьб и предложений о помощи. Наша задача — дать людям эффективное средство для координации взаимопомощи, которое, по сути, самим своим существованием стимулирует её и повышает уровень социальной ответственности пользователей Рунета.  </p>
        </div>
    </div>
</div>
</div>
{% endblock %}
