{% extends "base_buttons.html" %}

{% block maincontent %}
<div class="g960" id="content">
    <div class="breadcrumbs mb10">
        <a title="Главная" href="/">Главная</a> &raquo;
        <span title="{{listTitle}}">{{listTitleShort}}</span>
    </div>
    <div class="inside g340">
        {% block listfilter %}{% endblock %}
    </div>
    <div class="column g560 ml50">
        <div class="header_container rounded_top">
            <div class="alignright mc_container">
                <div id="export_csv" class="csv pointer no_text" title="Экспорт списка в CSV">Экспорт списка</div>
                Всего: <span id="itemsCount">{{items}}</span>

            </div>
            <h3 class="mb0 rounded_top regulartext_header">{{ listTitleShort }}</h3>
        </div>
        <div class="message_list" id="mp1">
            <div class="date_select mb10">
                <a href="#" class="dateAddedFrom" id="<?php echo mktime(0, 0, 0);?>" title="Только пользователи, зарегистрированные сегодня">За сегодня</a> |
                <a href="#" class="dateAddedFrom" id="<?php echo strtotime('-3 day', mktime(0, 0, 0));?>" title="Только пользователи, зарегистрированные за последние 3 дня">За 3 дня</a> |
                <a href="#" class="dateAddedFrom" id="<?php echo strtotime('-1 week', mktime(0, 0, 0));?>" title="Только пользователи, зарегистрированные за последнюю неделю">За неделю</a> |
                <a href="#" class="dateAddedFrom" id="<?php echo strtotime('-1 month', mktime(0, 0, 0));?>" title="Только пользователи, зарегистрированные за последний месяц">За месяц</a> |
                <a href="#" class="dateAddedFrom" id="0" title="Пользователи, зарегистрированные за все время">За все время</a><img id="filterResponseLoading" src="/images/white_sm_loader.gif" alt="" style="display: none;" />
            </div>

            <div id="filterResponseMessage"></div>
            <ul id="itemsList" class="no_list datelist grayDivider">
            {% block listcontent %}
            {% endblock %}
            </ul>
            <div class="clearfix"></div>
            <div id="paginationBlock" class="paginaton mb10">
            <div id="paginationPages" data-current-page="{{paginator.number}}" class="alignleft list_pagination_div">
                {% if page_obj.has_previous %}
                    <a class='page' href='{{paginator_url}}{{page_obj.previous_page_number}}'>Назад</a>
                {%else%}
                    <span class='page'>Назад</span>
                {%endif%}

                {%if paginator_line.first%}
                    {% for p in paginator_line.first %}
                        {%if p != page_obj.number%}
                            <a class='page' href='{{paginator_url}}{{p}}'>{{p}}</a>
                        {%else%}
                            <span class='current_page'>{{p}}</span>
                        {%endif%}
                    {%endfor%}
                    ...
                {%endif%}
                {% for p in paginator_line.window %}
                    {%if p != page_obj.number%}
                        <a class='page' href='{{paginator_url}}{{p}}'>{{p}}</a>
                    {%else%}
                        <span class='current_page'>{{p}}</span>
                    {%endif%}
                {%endfor%}

                {%if paginator_line.last%}
                    ...
                    {% for p in paginate.last %}
                        {%if p != page_obj.number%}
                            <a class='page' href='{{paginator_url}}{{p}}'>{{p}}</a>
                        {%else%}
                            <span class='current_page'>{{p}}</span>
                        {%endif%}
                    {%endfor%}
                {%endif%}

                {%if page_obj.has_next%}
                    <a class='page' href='{{paginator_url}}{{page_obj.next_page_number}}'>Вперед</a>
                {%else%}
                    <span class='page'>Вперед</span>
                {%endif%}
                </div>

                {% block paginator %} {% endblock %}
            </div>
        </div>
    </div>
    <div class="clearfix "></div>
</div>
{% endblock %}
{% comment %}
<script id="listItemTmpl" type="text/x-jquery-tmpl">
    <li>
        <a href="/info/u/${id}" title="#${id}: ${fullName}" class="darkGrey list_number">#${id}</a>
        <div class="list_content">
            <a href="/info/u/${id}" class="darkRed" title="№${id}: ${fullName}">
                <strong>#${id}: ${fullName}</strong>
            </a>
            <br />
            <div class="clearfix mt4"></div>
            <a href="/info/u/${id}" class="no_underline" title="Страница пользователя">Подробнее</a>
            <br />
            <br />
            <span class="darkGrey fs10">
                ${$item.formatDate(dateAdded)} | ${regionName}
            </span>
        </div>
        <div class="clearfix"></div>
    </li>
</script>
<script id="paginationPagesTmpl" type="text/x-jquery-tmpl">
    {{if showLinkFirst}}
    <a href="#" class="paginationLink" data-page-num="1" data-begin-at="0"><< К началу</a> |
    {{/if}}
    {{if showLinkPrev}}
    <a href="#" class="paginationLink" data-page-num="${currentPageNum-1}" data-begin-at="${itemsPerPage*(currentPageNum-1)}">&laquo; Назад</a> |
    {{/if}}

    {{if showLinkFirst}} ... {{/if}}
    <span class="darkGrey">Страницы: </span>
    {{each pages}}
    {{if $value.pageNum == currentPageNum}}
    <b>${$value.pageNum}</b>
    {{else}}
    <a href="#" class="paginationLink" data-page-num="${$value.pageNum}" data-begin-at="${$value.beginAt}">${$value.pageNum}</a>
    {{/if}}
    {{/each}}
    {{if showLinkLast}} ... {{/if}}

    {{if showLinkNext}}
    | <a href="#" class="paginationLink" data-page-num="${currentPageNum+1}" data-begin-at="${itemsPerPage*currentPageNum}">Вперёд &raquo;</a>
    {{/if}}
    {{if showLinkLast}}
    | <a href="#" class="paginationLink" data-page-num="${totalPages}" data-begin-at="${itemsPerPage*(totalPages-1)}">К концу &raquo;</a>
    {{/if}}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
<script src="/javascript/lib/jQueryTemplates.js" type="text/javascript"></script>

<script src="/javascript/usersList.js?v=<?php echo sha1($this->config->item('js_version'));?>" type="text/javascript"></script>
{% endcomment %}
