{% extends "base.html" %}

{% block maincontent %}
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Выберите параметры поиска</h3>
            </div>

            <div class="panel-body" id="messages_filter">
                {% block listfilter %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-rynda-default">
            <div class="panel-heading">
                <div class="floatright" id="counter">
                    <div id="export_csv" class="csv floatright no_text" title="Экспорт списка в CSV">Экспорт списка</div>
                    Всего: <span class="badge">{{ count|default:0 }}</span>
                </div>
                <h3 class="panel-title">{{ listTitleShort }}</h3>
            </div>
            <div class="panel-body message_list" id="mp1">
                <div class="date_select mb10">
                    <a href="#" class="dateAddedFrom" id="<?php echo mktime(0, 0, 0);?>" title="Только пользователи, зарегистрированные сегодня">За сегодня</a> |
                    <a href="#" class="dateAddedFrom" id="<?php echo strtotime('-3 day', mktime(0, 0, 0));?>" title="Только пользователи, зарегистрированные за последние 3 дня">За 3 дня</a> |
                    <a href="#" class="dateAddedFrom" id="<?php echo strtotime('-1 week', mktime(0, 0, 0));?>" title="Только пользователи, зарегистрированные за последнюю неделю">За неделю</a> |
                    <a href="#" class="dateAddedFrom" id="<?php echo strtotime('-1 month', mktime(0, 0, 0));?>" title="Только пользователи, зарегистрированные за последний месяц">За месяц</a> |
                    <a href="#" class="dateAddedFrom" id="0" title="Пользователи, зарегистрированные за все время">За все время</a><img id="filterResponseLoading" src="/images/white_sm_loader.gif" alt="" style="display: none;" />
                </div>

                <div id="filterResponseMessage"></div>
                <ul id="itemsList" class="list-group datelist grayDivider">
                    {% block listcontent %} {% endblock %}
                </ul>

                <div id="paginationBlock" class="paginaton mb10">
                <div id="paginationPages" data-current-page="{{ paginator.number }}" class="alignleft list_pagination_div">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a class='page' href='{{ paginator_url }}{{ page_obj.previous_page_number }}/{{ query_string|safe }}'>Назад</a></li>
                    {% else %}
                        <li class='disabled'><a href='#'>Назад</a></li>
                    {% endif %}

                    {% if paginator_line.first %}
                        {% for p in paginator_line.first %}
                            {% if p != page_obj.number %}
                                <li><a href='{{ paginator_url }}{{ p }}/{{ query_string|safe }}'>{{ p }}</a></li>
                            {% else %}
                                <li class='active'><a href='#'>{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                        ...
                    {% endif %}

                    {% for p in paginator_line.window %}
                        {% if p != page_obj.number %}
                            <li><a href='{{ paginator_url }}{{ p }}/{{ query_string|safe }}'>{{ p }}</a></li>
                        {% else %}
                            <li class='active'><a href="#">{{ p }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if paginator_line.last %}
                        ...
                        {% for p in paginate.last %}
                            {% if p != page_obj.number %}
                                <li><a href='{{ paginator_url }}{{ p }}/{{ query_string|safe }}'>{{ p }}</a></li>
                            {%else%}
                                <li class='active'><a href="#">{{ p }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li><a href='{{ paginator_url }}{{ page_obj.next_page_number }}/{{ query_string|safe }}'>Вперед</a></li>
                    {% else %}
                        <li class='disabled'><a href="#">Вперед</a></li>
                    {% endif %}
                    </ul>
                    </div>

                    {% block paginator %} {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% comment %}
<script id="listItemTmpl" type="text/x-jquery-tmpl">
    <li>
        <a href="/info/u/${id}" title="#${id}: ${fullName}" class="darkGrey list_number">#${id}</a>
        <div class="list_content">
            <a href="/info/u/${id}" class="darkRed" title="№${id}: ${fullName}">
                <strong>#${id}: ${fullName}</strong>
            </a>
            <br />
            <div class="clearfix mt4"></div>
            <a href="/info/u/${id}" class="no_underline" title="Страница пользователя">Подробнее</a>
            <br />
            <br />
            <span class="darkGrey fs10">
                ${$item.formatDate(dateAdded)} | ${regionName}
            </span>
        </div>
        <div class="clearfix"></div>
    </li>
</script>
<script id="paginationPagesTmpl" type="text/x-jquery-tmpl">
    {{if showLinkFirst}}
    <a href="#" class="paginationLink" data-page-num="1" data-begin-at="0"><< К началу</a> |
    {{/if}}
    {{if showLinkPrev}}
    <a href="#" class="paginationLink" data-page-num="${currentPageNum-1}" data-begin-at="${itemsPerPage*(currentPageNum-1)}">&laquo; Назад</a> |
    {{/if}}

    {{if showLinkFirst}} ... {{/if}}
    <span class="darkGrey">Страницы: </span>
    {{each pages}}
    {{if $value.pageNum == currentPageNum}}
    <b>${$value.pageNum}</b>
    {{else}}
    <a href="#" class="paginationLink" data-page-num="${$value.pageNum}" data-begin-at="${$value.beginAt}">${$value.pageNum}</a>
    {{/if}}
    {{/each}}
    {{if showLinkLast}} ... {{/if}}

    {{if showLinkNext}}
    | <a href="#" class="paginationLink" data-page-num="${currentPageNum+1}" data-begin-at="${itemsPerPage*currentPageNum}">Вперёд &raquo;</a>
    {{/if}}
    {{if showLinkLast}}
    | <a href="#" class="paginationLink" data-page-num="${totalPages}" data-begin-at="${itemsPerPage*(totalPages-1)}">К концу &raquo;</a>
    {{/if}}
</script>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
<script src="/javascript/lib/jQueryTemplates.js" type="text/javascript"></script>

<script src="/javascript/usersList.js?v=<?php echo sha1($this->config->item('js_version'));?>" type="text/javascript"></script>
{% endcomment %}
