<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{%block title%}{%endblock%} Виртуальная рында</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet/less" type='text/css' href="{{STATIC_URL}}css/style.less">
  <link rel="stylesheet" href="{{STATIC_URL}}css/leaflet.css">
  <link rel="stylesheet" href="{{STATIC_URL}}css/messi.min.css">
  <script src="{{STATIC_URL}}js/libs/modernizr-2.5.3.min.js"></script>
  <script src="{{STATIC_URL}}js/libs/less-1.3.3.min.js"></script>  
</head>
<body>
<div id='top_panel'></div>
<div id='navigation_panel'></div>
<div id='container'>
  <header>
    <div id="auth_panel">
      {% block hubs %}{% endblock %}
	  {% include "widgets/auth.html" %}
    </div>

    <div id="navigation">
      <div class="nav_cont clearfix"> 
        {% block navigation %}{% endblock %}
      </div>
    </div>
  </header>

<div role="main">
<div class="main">
	<div class="g960 clearfix" id="header">
            <div class="alignright ml40 clearfix">	
                {% block buttons %}{%endblock%}
            </div>
            <h1><a href="/" class="no_text" title="Rynda.org — портал добровольцев">Rynda</a></h1>
    </div>
     <div class='clearfix'>
        <ul class="floatleft">
            <li><a href="http://vkontakte.ru/club25595604" title="Виртуальная рында во Вконтакте" class="vk">Вконтакте</a></li>
            <li><a href="http://www.facebook.com/pages/Ryndaorg/163264230398695?created" title="Виртуальная рында в Фейсбуке" class="fb">Фейсбук</a></li>
            <li><a href="http://community.livejournal.com/rynda_org/" title="Виртуальная рында в ЖЖ" class="lj">Живой Журнал</a></li>
            <li><a href="http://twitter.com/#!/Ryndaorg" title="Виртуальная рында в Твиттере" class="tw">Твиттер</a></li>
            <!--<li><a href="#" title="Лента Виртуальной рынды" class="rss">RSS</a></li>-->
        </ul>
    </div>
    {%block maincontent%}{%endblock%}  
  
  <footer>
    <div id="footer" class="span12">
        <div class='clearfix'>
        <ul id="footer_nav" class="no_list top_nav_list">
            <li class="pl0"><a href="/" title="На главную">На главную</a></li>
            <!--<li><a href="#" title="Список карт помощи">Карты помощи</a></li>-->
            <!--<li><a href="#" title="Найти сообщения">Поиск</a></li>-->
            <li><a href="/info/about" title="О проекте «<?php echo $this->config->item('project_basename')?>»">О проекте</a></li>
            <li><a href="/pomogite/pomogli" title="Сообщения, по которым помощь нашлась">Помощь нашлась</a></li>
            <li><a href="/org" title="Организации">Организации</a></li>
            <li><a class="rss_feed" href="http://feeds.rynda.org/<?php $currentSubdomain = getSubdomain(); echo $currentSubdomain ? $currentSubdomain : '';?>">RSS-лента</a></li>
            <li class="no_bg"><a href="/info/contacts" title="Свяжитесь с нами">Свяжитесь с нами</a></li>
        </ul>
        </div>
       <div class="g960 inside" id="license">&copy; - Платформа «Виртуальная Рында - Атлас помощи», 2011-2013. Лицензия <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons 3.0 (Атрибуция — Некоммерческое использование — С сохранением условий)</a></div>
    </div>
	</div><!-- // Конец MAIN div'а -->

  </footer>
</div>
</div>
  <!-- JavaScript at the bottom for fast page loading -->

  <script src="{{STATIC_URL}}js/libs/jquery-1.8.1.min.js"></script>
  <script src="{{STATIC_URL}}js/libs/underscore-min.js"></script>
  <script src="{{STATIC_URL}}js/libs/backbone-min.js"></script>
  <script src="{{STATIC_URL}}js/libs/leaflet.js"></script>
  <script src="{{STATIC_URL}}js/messi.min.js"></script>
  <script src="{{STATIC_URL}}js/rynda.js"></script>

  <!-- scripts concatenated and minified via build script -->
  
  <script src="{{STATIC_URL}}js/plugins.js"></script>
  <script src="{{STATIC_URL}}js/script.js"></script>
  {% if messages %}
  <script type='text/javascript'>
  //Show popup message
  $(function(){
    new Messi('{% for message in messages %} {{ message }} {% endfor %}');
  });
  </script>
  {% endif %}
  {% block scripts %}{% endblock %}
  <!-- end scripts -->
  </div>
  </body>
</html>
