{%extends 'base_buttons.html'%}

{% block hubs %}
    {% include "widgets/base_hub.html"  with part='base' %}
{% endblock %}

{% block navigation %}
<form id="mapFilterForm" action="#">
    <div id="mapFormContainer">
        <div>
            <select name="regionId" id="searchRegion">
            <option value="0"
                    data-zoom-level="{{main_map_default_zoom}}"
                    data-center-lat="{{main_map_default_lat}}"
                    data-center-lng="{{main_map_default_lng}}"
                    {%if not request.session.ryndaorg_region%}selected{%endif%}>Все регионы</option>
            {% for r in regions%}
                    <option value="{{r.id}}"
                            data-zoom-level="{{r.zoom}}"
                            data-center-lat="{{r.lat}}"
                            data-center-lng="{{r.lng}}"
                            {%if request.session.ryndaorg_region == r.id%}selected{%endif%}>
                        {{r.name}}
                    </option>
            {%endfor%}
            </select>

            <!--label for="dateAddedFrom" class="no_display">За какое время?</label-->
            <select name="dateAddedFrom" id="searchDateAddedFrom">
                <option value="" title="Сообщения, поступившие за все время">За все время</option>
                <option value="{{today}}" title="Только сообщения, поступившие сегодня">За сегодня</option>
                <option value="{{days3}}" title="Только сообщения, поступившие за последние 3 дня">За последние 3 дня</option>
                <option value="{{last_week}}" title="Только сообщения, поступившие за последнюю неделю">За неделю</option>
                <option value="{{weeks3}}" title="Только сообщения, поступившие за последний месяц">За месяц</option>
            </select>
            <!--label for="category" class="no_display">Категория</label-->
            <select name="category" id="searchCategory">
                <option value="">Все категории</option>
            {%for cat in categories%}
                {% if cat.children%}
                    <optgroup label="{{cat.name|capfirst}}">
                        {%for c in cat.children%}
                        <option value="{{c.id}}">
                            {{c.name|capfirst}}
                        </option>
                        {%endfor%}
                    </optgroup>
                {% else %}
                    <option value="{{cat.id}}">
                        {{cat.name|capfirst}}
                    </option>
                {%endif%}
            {%endfor%}
            </select>
            <!--label for="untimed" class="no_display">Как срочно?</label-->
            <select name="untimed" id="searchUntimed">
                <option value="">Как срочно?</option>
                <!--<option value="nm">Всё равно</option>-->
                <option value="0">Срочно</option>
                <option value="1">Несрочно</option>
            </select>
            <div class="clearfix"></div>
        </div>
    </div>
</form>
{% endblock %}

{%block maincontent%}
<div class="g960" id="content">
    <div class="clearfix"></div>
    {%if not request.session%}
        <a href="http://blog.rynda.org/?p=82"><img src="{{STATIC_URL}}img/start_message.png" style="margin-bottom:-2px" /></a>
    {%endif%}
    <div id="locationMap" class="mainPageMapCont">
        <form id="mapFilterForm" action="#">
            <div id="mapFormContainer">
                <div>
                    {% comment %}
                    <!--label for="regionId" class="no_display">Регион</label-->
                    <select name="regionId" id="searchRegion">
                    <option value="0"
                            data-zoom-level="{{main_map_default_zoom}}"
                            data-center-lat="{{main_map_default_lat}}"
                            data-center-lng="{{main_map_default_lng}}"
                            {%if not request.session.ryndaorg_region%}selected{%endif%}>Все регионы</option>
                    {% for r in regions%}
                            <option value="{{r.id}}"
                                    data-zoom-level="{{r.zoom}}"
                                    data-center-lat="{{r.lat}}"
                                    data-center-lng="{{r.lng}}"
                                    {%if request.session.ryndaorg_region == r.id%}selected{%endif%}>
                                {{r.name}}
                            </option>
                    {%endfor%}
                    </select>

                    <!--label for="dateAddedFrom" class="no_display">За какое время?</label-->
                    <select name="dateAddedFrom" id="searchDateAddedFrom">
                        <option value="" title="Сообщения, поступившие за все время">За все время</option>
                        <option value="{{today}}" title="Только сообщения, поступившие сегодня">За сегодня</option>
                        <option value="{{days3}}" title="Только сообщения, поступившие за последние 3 дня">За последние 3 дня</option>
                        <option value="{{last_week}}" title="Только сообщения, поступившие за последнюю неделю">За неделю</option>
                        <option value="{{weeks3}}" title="Только сообщения, поступившие за последний месяц">За месяц</option>
                    </select>
                    <!--label for="category" class="no_display">Категория</label-->
                    <select name="category" id="searchCategory">
                        <option value="">Все категории</option>
                    {%for cat in categories%}
                        {% if cat.children%}
                            <optgroup label="{{cat.name|capfirst}}">
                                {%for c in cat.children%}
                                <option value="{{c.id}}">
                                    {{c.name|capfirst}}
                                </option>
                                {%endfor%}
                            </optgroup>
                        {% else %}
                            <option value="{{cat.id}}">
                                {{cat.name|capfirst}}
                            </option>
                        {%endif%}
                    {%endfor%}
                    </select>
                    <!--label for="untimed" class="no_display">Как срочно?</label-->
                    <select name="untimed" id="searchUntimed">
                        <option value="">Как срочно?</option>
                        <!--<option value="nm">Всё равно</option>-->
                        <option value="0">Срочно</option>
                        <option value="1">Несрочно</option>
                    </select>
                    {% endcomment %}
                    <span id="toggleMap" style="border:1px solid black;margin-left:10px;padding:5px;font-size:15px;font-weight:bold;cursor:pointer;background-color:#bdd057;color:white;text-decoration-color:white;" data-map-shown="{{request.session.ryndaorg_main_map_shown}}">
                        {%if request.session.ryndaorg_main_map_shown == 1%}Скрыть карту{%else%}Открыть карту{%endif%}
                    </span>
                    <img id="mapResponseLoading" src="{{STATIC_URL}}img/white_sm_loader.gif" alt="" style="display: none; margin:0px 0px 0px 5px;" />
                    <div id="reset" class="mainpagecancel">Сбросить форму</div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
        <div id="mapWithoutFilterForm" {%if request.session.ryndaorg_main_map_shown == 0%}style="display:none;"{%endif%}>
            <div id="locationMapCanvas" style="width: 948px; height: 320px;"></div>
            <form id="markerTypesForm" action="#">
                <div class="map_markers_switcher">
                    <strong>Включить:</strong>
                    {% if messageTypes %}
                    <ul>
                        <li><strong>Сообщения</strong></li>
                        {%for mt in messageTypes %}
                        <li class="switcher_messagetype_{{mt.id}}">
                            <label>
                                <input type="checkbox" name="messageTypeId[]" value="{{mt.id}}" checked />
                                <span>{{mt.name}}</span>
                            </label>
                        </li>
                        {%endfor%}
                    </ul>
                    <br />
                    {%endif%}
                    {% if organizationTypes %}
                    <strong>Организации</strong>
                    <ul>	
                        {% for ot in organizationTypes %}
                        <li class="switcher_orgtype_{{ot.id}}">
                            <label>
                                <input type="checkbox" name="orgTypeId[]" value="{{ot.id}}" />
                                <span>{{ot.name}}</span>
                            </label>
                        </li>
                        {%endfor%}
                    </ul>
                    {%endif%}
                </div>
            </form>
            <div id="mapResponseMessage" style="display:none;"></div>
        </div>
    </div>
    <div class="clear">&nbsp;</div>

    {% if disclaimer %}
    <div id="disclaimer" class="rounded_all g720">{{disclaimer}}</div>
    {%endif%}

    <div class="clear">&nbsp;</div>

{% if usersForList %}
<div id="usersList_container" class="rounded_all">
	<div id="usersList_leftCol">
		<ul id="usersList">
			{% for u in usersForList %}
            <li class="usersList_unit">
                <div class="usersList_avatar">
                    <a href="/user/{{u.userId}}" title="{{u.firstName}} {{u.lastName}}">
                        <img rel="" src="{{u.avatarUrl" />
                    	<div class="avatar_image-smallcircle"></div>
					</a>
                </div>
                
               
                <div class="usersList_name">
                    <a href="/user/{{u.userId}}" title="<{{u.firstName}} {{u.lastName}}">
                        {{u.firstName}} {{u.lastName}}
                    </a>
                </div>
            </li>
            {%endfor%}
		</ul>

    {% if user.is_authenticated %}
		<a href="/user/edit/{{user.id}}#vp_title" title="C помощью этой кнопки вы можете создать новый профиль взаимопомощи"><div id="add-vpButton" class="rounded_all relative">Создать профиль взаимопомощи</div></a>
	{%else%}
	<a href="/register" title="Регистрация на сайте"><div id="add-vpButton" class="rounded_all relative">Зарегистрироваться</div></a>
    {%endif%}
	</div>
    
    {% if user.is_authenticated %}
	<div id="usersList_disclaimer">
		<div id="usersList_disclaimerHead">ПРИСОЕДИНЯЙТЕСЬ!</div>
		<div id="usersList_disclaimerText">С радостью сообщаем, что на сайте есть возможность открыть персональные профили помощи. В таком профиле вы можете указать, какую помощь готовы оказывать, и ваше месторасположение. <br />С помощью профилей помощи вы сможете своевременно получать информацию о том, где и в чём вы можете быть полезны.</div>
	</div>
    {% else %}
	<div id="usersList_disclaimer">
		<div id="usersList_disclaimerHead">ПРИСОЕДИНЯЙТЕСЬ!</div>
		<div id="usersList_disclaimerText">На нашем сайте вы можете зарегистрироваться и пользоваться всеми сервисами. Например, персональные профили помощи доступны только зарегистрированным пользователям. В таком профиле вы можете указать, какую помощь готовы оказывать, и ваше месторасположение. <br />С помощью профилей помощи вы сможете своевременно получать информацию о том, где и в чём вы можете быть полезны.</div>
	</div>
    
    {% endif %}
</div>
{% endif%}
	
    <div class="column triple_column mr25">
        <a href="/message/pomogite"><h3 class="mb0 helpneeded rounded_top no_text">Просьбы о помощи</h3></a>
        <div class="triple_container" id="mp1">
          <ul id="requestsList" class="no_list triplelist">
            {% for r in requests%}
            <li>
              <div class="triple_date">
                {{r.date_add|date:"d.m"}}<br />
			    <span class="triple_year">{{r.date_add|date:"Y"}}</span>
		      </div>
              <a class="triple_link" href="/message/{{r.id}}" title="Просьба о помощи #{{r.id}}{{r.title}}">
                {%if r.title%}
                    {{r.title}}
                {%else%}
                    Сообщение {{r.id}}
                {%endif%}
              </a>
              <div class="clearfix"></div>
            </li>
            {%endfor%}
          </ul>
          <a id="requestsMore" href="/message/pomogite" class="alignright green triple_more_info" title="Все просьбы  о помощи &raquo;"><strong>Другие просьбы о помощи&#8230;</strong></a>
          <div id="requestsNotFound" style="display:none">
          		<ul class="no_list triplelist">
          			<li>Просьб о помощи не найдено — <a href="/pomogite/dobavit">добавить свою</a></li>
          		</ul>
          </div>
          <div class="clearfix"></div>
       </div>    
    </div>
    
    <div class="column triple_column mr25">
        <a href="/message/pomogu"><h3 class="mb0 helpprovided no_text rounded_top">Предложения помощи</h3></a>
        <div class="triple_container" id="mp2">
            <ul id="offersList" class="no_list triplelist">
            {% for o in offers %}
            <li>
              <div class="triple_date">
                {{o.date_add|date:"d.m"}}<br />
			    <span class="triple_year">{{o.date_add|date:"Y"}}</span>
		      </div>
              <a class="triple_link" href="/message/{{o.id}}" title="Просьба о помощи #{{o.id}}{{o.title}}">
                {%if o.title%}
                    {{o.title}}
                {%else%}
                    Сообщение {{o.id}}
                {%endif%}
              </a>
              <div class="clearfix"></div>
            </li>
            {%endfor%}
            </ul>
            <a id="offersMore" href="/message/pomogu" class="alignright green triple_more_info" title="Все предложения помощи &raquo;"><strong>Другие предложения помощи&#8230;</strong></a>
            <div id="offersNotFound" style="display:none">
            	<ul class="no_list triplelist">
            		<li>Предложений помощи не найдено — <a href="/pomogu/dobavit">добавить своё</a></li>
            	</ul>
           	</div>
            <div class="clearfix"></div>
        </div>
    </div>
    
    <div class="column triple_column">
        <a href="/message/pomogite/pomogli"><h3 class="mb0 helpgiven no_text rounded_top">Помощь нашлась</h3></a>
        <div class="triple_container" id="mp4">
            {%if completed %}
            <ul id="helpedList" class="no_list triplelist">
             {% for c in completed %}
             <li>
              <div class="triple_date">
                {{c.date_add|date:"d.m"}}<br />
			    <span class="triple_year">{{c.date_add|date:"Y"}}</span>
		      </div>
              <a class="triple_link" href="/message/{{c.id}}" title="Просьба о помощи #{{c.id}}{{c.title}}">
                {%if c.title%}
                    {{c.title}}
                {%else%}
                    Сообщение {{c.id}}
                {%endif%}
              </a>
              <div class="clearfix"></div>
            </li>
            {%endfor%}
            </ul>
            <a id="helpedMore" style="display: none;" href="/message/pomogite/pomogli" class="alignright green triple_more_info" title="Все успешные сообщения &raquo;">
                <strong>Другие успешные сообщения&#8230;</strong>
            </a>
            {%else%}
            <div id="helpedNotFound" style="display:none">
                <ul class="no_list triplelist">	
                	<li>Успешно оказанной помощи пока нет — попробуйте <a href="/pomogu/dobavit">добавить</a> Ваше предложение помощи или <a href="/pomogite">найти кого-то</a>, кому Вы можете помочь!</li>
            	</ul>
            </div>
            {%endif%}
            <div class="clearfix"></div>
        </div>    
    </div>
    
    <div class="clearfix mt25">&nbsp;</div>
    
    <div class="column triple_column mr25" >
    	<a href="/info">
            <h3 class="mb0 infomessages no_text rounded_top">Информационные сообщения</h3>
        </a>
        <div class="triple_container" id="mp5">
            {% if info %}
            <ul id="infoList" class="no_list triplelist">
             {% for i in info %}
             <li>
              <div class="triple_date">
                {{i.dateAdd|date:"d.m"}}<br />
			    <span class="triple_year">{{i.dateAdd|date:"Y"}}</span>
		      </div>
              <a class="triple_link" href="/message/{{i.id}}" title="Информационное сообщение #{{i.id}}{{i.title}}">
                {%if i.title%}
                    {{i.title}}
                {%else%}
                    Сообщение {{i.id}}
                {%endif%}
              </a>
              <div class="clearfix"></div>
            </li>
            {%endfor%}
            </ul>
            <br /><a id="infoMore" href="/info" class="alignright green triple_more_info" title="Все информационные сообщения &raquo;"><strong>Другие информационные сообщения &#8230;</strong></a>
            {%else%}
            <div id="infoNotFound">
            	<ul class="no_list triplelist">
            		<li>Информационных сообщений не найдено</li>
                </ul>    
            </div>
            {%endif%}
            <div class="clearfix"></div>
        </div>
    </div>
    
    <div class="column triple_column mr25" >
    	<a href="http://blog.rynda.org/">
            <h3 class="mb0 latestnews no_text rounded_top">Последние новости</h3>
        </a>
        <div class="triple_container" id="mp6">
            {% if news %}
            <ul class="no_list triplelist">
            {% for n in news %}
                <li>
                    <div class="triple_date">
						{{n.date|date:'d.m'}}<br />
						<span class="triple_year">{{n.date|date:'Y'}}</span>
                    </div>
                    <a class="triple_link" href="{{n.link}}" title="{{n.title}}">{{n.title}}</a>
                    <div class="clearfix"></div>
                </li>
            {%endfor%}
            </ul>
            {%if has_more_news %}
                <a id="newsMore" href="http://blog.rynda.org/?cat=4" class="alignright green triple_more_info" title="Все новости &raquo;"><strong>Другие новости &#8230;</strong></a>
            {% endif %}
            {% else %}
            <ul class="no_list triplelist">
            	<li>Пока никаких новостей</li>
            </ul>
            {%endif%}
            <div class="clearfix"></div>
        </div>
        
    </div>
    
    <div class="column triple_column" >
    	 <a href="http://rynda.org/info/about">
         	<h3 class="mb0 aboutproject no_text rounded_top">Информация о проекте</h3>
         </a>
        <div class="triple_container" id="mp7">
 			<p>
            	<strong>«Виртуальная Рында»</strong> - это средство для координации взаимопомощи, задача которого – раскрыть потенциал российского сетевого сообщества в области сотрудничества между пользователями Интернета и различными организациями, включая некоммерческие организации, государственные структуры и бизнес.<br />
<br />
Сайт позволяет каждому сообщить о своей беде или желании помочь. Сообщения поступают в публичное пространство и позволяют привлечь внимание к разного рода событиям и проблемам. Сбор, анализ, обработка и предоставление такой информации помогают максимально эффективно связать участников событий с теми, кто может им помочь.

            </p>
            <a href="http://rynda.org/info/about" class="alignright green triple_more_info" title="Читать далее &raquo;"><strong>Читать далее &#8230;</strong></a>
            <div class="clearfix"></div>
        </div>
        
    </div>
    <div class="clearfix "></div>
    <div class="g960 inside mt25 rounded_top" id="connection">
        <h3 class="mb0 rounded_top no_text rounded_top">Каналы связи</h3>
        <ul class="floatleft no_list ml20 mt25">
        	<!--<li>СМС: <div class="lightGreen inline fs14"><strong>4444</strong></div></li>-->
            <li>E-MAIL: <a href="mailto:a@rynda.org" title="Напишите нам на E-Mail"><div class="lightGreen inline fs14"><strong>a@rynda.org</strong></div></a></li>
            <li>TWITTER: <a href="http://twitter.com/#!/Ryndaorg" title="Следите за нами в Twitter" target="_blank"><div class="lightGreen inline fs14"><strong>@Ryndaorg</strong></div></a></li>
            <li>SKYPE: <a href="skype:ryndaorg?chat" title="Skype"><div class="lightGreen inline fs14"><strong>ryndaorg</strong></div></a></li>
            <!--<li>ТЕЛЕФОН: <div class="lightGreen inline fs14"><strong>+7 (916) 1234567</strong></div></li>-->
        </ul>
		<div class="clearfix "></div>	
        <div class="nh_act_rec_bottom mt25"></div>
    </div>
</div>

{%comment%}
<script id="mapMarkerPopupTmpl" type="text/x-jquery-tmpl">
    <div class="mainPopupWindow">
        <h4>
            <a href="info/s/${id}">
            {{if isPublic == 1}}
                ${firstName}{{if lastName}} ${lastName}{{/if}}:
            {{else}}
                ${firstName}{{if lastName}} ${$item.getFirstLetter(lastName)}:{{/if}}
            {{/if}}
            </a>
            {{if title && title.length > 0}}
                <a href="/info/s/${id}">${title}</a>
            {{else}}
                <a href="info/s/${id}">
                    ${$item.formatTextTrimmed(text, 50)}
                </a>
            {{/if}}
        </h4>
        <div class="mainPopupText">
            <div class="mainPopupDate">${$item.formatDate(dateAdded)}</div>
            <a href="/info/s/${id}">
                <strong><span class='orange'>Подробнее &raquo;</span></strong>
            </a>
        </div>
    </div>
</script>
<script id="mapClusterPopupTmpl" type="text/x-jquery-tmpl">
    <div class="mainPopupWindow">
        <h4 class="popup_h4">Всего отметок в группе: ${markers.length}</h4>
        <ul class="mainPopupText">
        {{each(i, marker) markers}}
            {{if marker.get("orgType")}}
            <li class="clusterOrganization">
                {{if marker.get("title").length > 0}}
                <a href='/info/o/${marker.get("id")}'>${marker.get("title")}</a>
                {{else}}
                <a href='/info/o/${marker.get("id")}'>
                    {{html $item.formatTextTrimmed(marker.get("text"), 50)}}&nbsp;<strong><span class='orange'>&raquo;</span></strong>
                </a>
                {{/if}}
            </li>
            {{else}}
            <li class="clusterMessage">
                <a href='/info/s/${marker.get("id")}'>
                {{if marker.get("isPublic") == 1}}
                    ${marker.get("firstName")}{{if marker.get("lastName").length > 0}} ${marker.get("lastName")}{{/if}}:
                {{else}}
                    ${marker.get("firstName")}{{if marker.get("lastName").length > 0}} ${$item.getFirstLetter(marker.get("lastName"))}{{/if}}:
                {{/if}}
                </a>
                {{if marker.get("title").length > 0}}
                <a href='/info/s/${marker.get("id")}'>${marker.get("title")}</a>
                {{else}}
                <a href='/info/s/${marker.get("id")}'>
                    {{html $item.formatTextTrimmed(marker.get("text"), 50)}}&nbsp;<strong><span class='orange'>&raquo;</span></strong>
                </a>
                {{/if}}
            </li>
            {{/if}}
        {{/each}}
        </ul>
        <div class="pointer fs10 grey" onclick="zoomTo(${lat}, ${lng});" class="zoomInControl">
            Приблизить карту
        </div>
    </div>
</script>
<script id="mapMarkerOrgPopupTmpl" type="text/x-jquery-tmpl">
    <div class="mainPopupWindow">
    {{if typeSlug == 'gov'}}
        <h4 class="popup_h4 switcher_gov">
    {{else typeSlug == 'nco'}}
        <h4 class="popup_h4 switcher_org">
    {{else typeSlug == 'co'}}
        <h4 class="popup_h4 switcher_com">
    {{else typeSlug == 'bloodstation'}}
        <h4 class="popup_h4 switcher_blood">
    {{else}}
        <h4 class="popup_h4 switcher_org">
    {{/if}}
            <a href="/org/d/${id}">${title}</a>
        </h4>
        <div class="ml20"><a href="/org/d/${id}">{{html text}} <strong><span class='orange'>&raquo;</span></strong></a></div>
    </div>
</script>
<script id="messagesBlockTmpl" type="text/x-jquery-tmpl">
    <li>
        <div class="triple_date">${$item.getMonthDay(dateAdded)}<br />
			<span class="triple_year">${$item.getYear(dateAdded)}</span>
		</div>
        {{if typeSlug == '<?php echo $messageTypeRequest;?>'}}
        <a class="triple_link" href="/info/s/${id}" title="Просьба о помощи #${id}{{if title.length > 0}}: ${title}{{/if}}">
        {{else typeSlug == '<?php echo $messageTypeOffer;?>'}}
        <a href="/info/s/${id}" class="triple_link" title="Предложение помощи #${id}">
        {{else}}
        <a href="/info/s/${id}" class="triple_link" title="Информационное сообщение #${id}{{if title.length > 0}}: ${title}{{/if}}">
        {{/if}}
        {{if title.length > 0}}
            {{html title}}
        {{else}}
            {{html $item.formatTextTrimmed(text, 50)}}
        {{/if}}
        </a>
        <div class="clearfix"></div>
    </li>
</script>
{%endcomment%}
{% endblock %}

{% block scripts %}
<script type='text/javascript' >
$(function(){
    Rynda.sameheight($('.triple_container'));

    Rynda.map.createMap('locationMapCanvas');
    Rynda.map.fetch();
})
</script>
{%endblock%}
