{%extends 'base.html'%}
{%block content%}
<div id="formTotal">
    <div class="header_container rounded_top">
        <h3 class="mb0 rounded_top regulartext_header">
            Редактирование категории
        </h3>
        <div style='float:right;margin-right:10px;'>
            <a style='color:white;font-weight:bold;vertical-align:top' href='/delete/category/{{id}}'>Удалить</a>
        </div>
        <div class='clearfix'></div>
    </div>
    <form action='/show/category/{{id}}' method='post'>
    	<div>
        	<div class="column g640" id="editingcolumn">
            	<div class="column_container" id="nh_1_column_container">
    				{% for field in form.hidden_fields %}
    					{{ field }}
    				{% endfor %}
                    <div class='fieldwrapper' style='valign: top'>
                        {{ form.subdomain.errors }}
                        {{ form.subdomain.label_tag }}:<br /> {{ form.subdomain }}
                    </div> 
                    <div class='fieldwrapper' style='valign: top'>
                        {{ form.name.errors }}
                        {{ form.name.label_tag }}:<br /> {{ form.name }}
                    </div>
                    <br />
                    <div class='fieldwrapper' style='valign: top'>
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}:<br /> {{ form.description }}
                    </div>
    			</div>
    		</div>
            <div class="column g320" id="editingcolumnmsg2">
            	<div class="column_container" id="nh_2_column_container">
                	<div class='fieldwrapper' style='valign: top'>
                        {{ form.parentId.errors }}
                        {{ form.parentId.label_tag }}:<br /> {{ form.parentId }}
   					</div>
    				<br />
                    <div class='fieldwrapper' style='valign: top'>
                        {{ form.color.errors }}
                        {{ form.color.label_tag }}:<br /> {{ form.color }}
                    </div>
                    <br />
                    <div class='fieldwrapper' style='valign: top'>
                        {{ form.slug.errors }}
                        {{ form.slug.label_tag }}:<br /> {{ form.slug }}
                    </div>
                    <br />
                    <div class='fieldwrapper' >
                        {{ form.icon.errors }}
                        {{ form.icon.label_tag }}:<br /> {{ form.icon }}
                    </div>
                    <br />
					<input type='submit' value='Обновить' class="no_text mt25" id="addSubmit">
                    
                </div>
            </div>     
    	</div>
    </form>
</div>
<div class='clearfix'></div> 

{%endblock%}
