{% extends 'base_list.html' %}

{% load url from future %}
{%block title %}список сообщений{%endblock%}

{#block admsidebar%}
<div class='admsidebar'>    
    Просмотр и редактирование списка сообщений
    <br /><br />
Всего cообщений: {{total}}<br />
{%for s in stats%}
{{s.messageType__name}}: {{s.messageType__count}}<br />
{%endfor%}
</div>    
{%endblock#}

{%block listfilter%}
<div >
<form id='messages_filter' action='' method='get'>
<input type='hidden' name='page' value='{{cur_page}}'>
<label for='msg_type'>Тип сообщения</label>
<select name='msg_type'>
<option value='0'>Все</option>
{%for s in types%}
<option value='{{s.id}}' {%if type == s.id %}selected='selected'{%endif%}>{{s.name}}</option>
{%endfor%}
</select>
<label for='msg_status'>Статус сообщения</label>
<select name='msg_status'>
<option value='0'>Все</option>
<option value='1'>Новое</option>
<option value='2'>Не подтверждено</option>
<option value='3'>Подтверждено</option>
<option value='4'>В работе</option>
<option value='6'>Закрыто</option>
</select>
<label for='region'>Регион</label>
<select name='region'>
<option value='0'>Все регионы</option>
{%for r in regions%}
<option value='{{r.id}}' {% if region == r.id %}selected='selected'{%endif%}>{{r.name}}</option>
{%endfor%}
</select>
<label for='subdomain'>Раздел сайта</label>
<select name='subdomain'>
<option value='-1'>Все сообщения</option>
{%for s in subdomains %}
<option value='{{s.id}}'>{{s.title}}</option>
{%endfor%}
</select>
<input type='submit' value='Фильтровать'>
</form>
</div>
<div class="clearfix"></div>
{%endblock%}

{%block listcontent %}
		<table id="sortable_table" class="display" cellspacing="0" cellpadding="0" border="0" bordercolor="#FFFFFF">
		<thead class="thead">
			<tr>
                <th class="sorting" style="width: 50px"></th>
                <th class="sorting" rowspan="1" colspan="1" style="width: 580px;">Тема</th>
				<th class="sorting" rowspan="1" colspan="1" style="width: 50px;">Статус</th>
				<th class="sorting" rowspan="1" colspan="1" style="width: 150px;">Раздел</th>
				<th class="sorting" rowspan="1" colspan="1" style="width: 50px;">Регион</th>
				<th class="sorting" rowspan="1" colspan="1" style="width: 70px;">Дата</th>
                <th class="sorting" rowspan="1" colspan="1" style="width: 50px;">Комментарии</th>
			</tr>
		</thead>
		<tbody class="tbody">
		{% for m in messages%}
        <tr class='{%cycle 'even' 'odd' %}'>
        <td class='misc'>
            {%spaceless%}
            <div class = 'alignleft'> 
            {%if m.messageType_id == 1%}
               <img src='{{STATIC_URL}}/css/i/nh_small.png' alt='{{m.messageType__name}}'>
            {%elif m.messageType_id == 2%}
               <img src='{{STATIC_URL}}/css/i/volunteer.png' alt='{{m.messageType__name}}'>
            {%elif m.messageType_id == 3%}
               <img src='{{STATIC_URL}}/css/i/info.png' alt='{{m.messageType__name}}'>
            {%endif%}
            </div>
            <div class = 'alignleft'>
            {%if m.mm_count > 0 %}<img src='{{STATIC_URL}}/css/i/clip.png'>{%else%}&nbsp;{%endif%}
            {%endspaceless%}
            </div>
            <div class='clearfix'></div>
        </td>
        <td class='name_of_page'>
            <a href='/show/message/{{m.id}}' {% if m.is_removed %}class="deleted"{%endif%} >{{m.title|default:"Без заголовка"}}</a>
            <div class='additional_info'>
                {%if m.is_removed %}
                <a class='additional' href='/restore/message/{{m.id}}'>Восстановить</a>
                {%else%}
                <a class='additional' href='/delete/message/{{m.id}}'>Удалить</a>
                {%endif%}
                {%if not m.is_removed and m.status > 1%}
                &nbsp;<a class='additional' href='http://rynda.org/info/s/{{m.id}}'>На сайте</a>
                {%endif%}
            </div>
            <div class='clearfix'></div>
        </td>
        <td class='status'><span style='color:{%if m.status > 2 %}green{%else%}red{%endif%}'>{{m.m_status}}</span></td>
        <td class='slug'>{{m.subdomain__title|default:'Общее'}}</td>
        <td class='slug'>{{m.locationId__regionId__name|default:'Общее'}}</td>
        <td class='slug'>{{m.dateAdd|date:'d.m.Y H:i:s'}}</td>
        <td class="slug">{%if m.comments > 0 %}<a href='/comments/list/{{m.id}}'>{{m.comments}}</a>{%else%}{{m.comments}}{%endif%}</td>
        </tr>
        {%endfor%}
        </tbody>
		</table>	
<div class='clear'></div>
<div id='paginator'>
{%if paginate.has_prev%}
<a class='page' href='{%url url_list%}?page={{page.previous_page_number}}'>Назад</a>
{%else%}
<span class='page'>Назад</span>
{%endif%}

{%if paginate.first%}
{% for p in paginate.first %}
{%if p != cur_page%}
<a class='page' href='{%url url_list%}?page={{p}}'>{{p}}</a>
{%else%}
<span class='current_page'>{{p}}</span>
{%endif%}
{%endfor%}
...
{%endif%}

{% for p in paginate.window %}
{%if p != cur_page%}
<a class='page' href='{%url url_list%}?page={{p}}'>{{p}}</a>
{%else%}
<span class='current_page'>{{p}}</span>
{%endif%}
{%endfor%}

{%if paginate.last%}
...
{% for p in paginate.last %}
{%if p != cur_page%}
<a class='page' href='{%url url_list%}?page={{p}}'>{{p}}</a>
{%else%}
<span class='current_page'>{{p}}</span>
{%endif%}
{%endfor%}
{%endif%}

{%if paginate.has_next%}
<a class='page' href='{%url url_list%}?page={{page.next_page_number}}'>Вперед</a>
{%else%}
<span class='page'>Вперед</span>
{%endif%}</div>
{%endblock%}

